.section-with-border.no-bottom-padding {
    padding-bottom: 0;
}
@media (min-width: 768px){
.section-with-border {
    background-color: #fff;
    border: 1px solid #d3d8de;
    margin-bottom: 20px;
    min-height: 50px;
    padding: 30px 15px;
}
}
.profile-form-container {
    margin-bottom: 20px;
}
.section-header {
    margin: 0 0 30px;
}
.facebook-import-link {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 20px;
}
.social-icon {
    background: #3b5998;
    color: #fff;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    margin-left: 5px;
    width: 26px;
}
.text-center {
    text-align: center;
}
.img-circle {
    border-radius: 50%;
}
.icon-white {
    color: #fff;
}
.form-group {
    margin-bottom: 16px;
}
.form-control {
    display: block;
    width: 100%;
    height: 56px;
    padding: 15px 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5rem;
    color: #323f4d;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d3d8de;
    border-radius: 4px;
    box-shadow: none;
    outline: 0;
}
.form-group {
    margin-bottom: 16px;
}
#mediated-sms-preference .switch {
    margin-left: 15px;
}
switch {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.pull-left {
    float: left!important;
}
.switch input {
    opacity: 0;
    position: absolute;
}
.switch input+label {
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    vertical-align: middle;
    width: 80px;
    height: 40px;
    background-color: #adb2b8;
    -webkit-transition: background 200ms ease-in-out;
    -o-transition: background 200ms ease-in-out;
    transition: background 200ms ease-in-out;
}
.switch input+label .switch-checked {
    opacity: 0;
}
.switch .switch-checked {
    margin-left: 8px;
}
.switch .switch-checked {
    margin-left: 10px;
}
.switch svg {
    fill: #fff;
    font-size: 20px;
    height: 40px;
    position: absolute;
    -webkit-transition: opacity 50ms ease-in-out;
    -o-transition: opacity 50ms ease-in-out;
    transition: opacity 50ms ease-in-out;
}
.switch .switch-toggle {
    top: 0;
}
.switch .switch-toggle {
    background: #fff;
    border-radius: 20px;
    height: 30px;
    width: 30px;
    left: 0;
    margin: 5px;
    position: absolute;
    -webkit-transition: left 200ms ease-in-out;
    -o-transition: left 200ms ease-in-out;
    transition: left 200ms ease-in-out;
}
.switch .switch-toggle::before {
    position: absolute;
    display: block;
    content: '';
    border-radius: 50%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,103,219,0.4);
    opacity: 0;
    -webkit-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
    pointer-events: none;
}
#mediated-sms-preference .col-md-7 {
    line-height: 1.2em;
}
.pull-left {
    float: left!important;
}
@media (min-width: 992px){
.col-md-7 {
    width: 58.33333333%;
}
}
#mediated-sms-preference .sms-pref-title {
    font-weight: 700;
    display: block;
}
#mediated-sms-preference .sms-pref-info {
    font-size: 12px;
}
.hidden {
    display: none!important;
    visibility: hidden!important;
}
.form-group {
    margin-bottom: 16px;
}
.section-with-border.margin-bottom {
    margin-bottom: 20px;
}
@media (min-width: 768px){
.section-with-border {
    background-color: #fff;
    border: 1px solid #d3d8de;
    margin-bottom: 20px;
    min-height: 50px;
    padding: 30px 15px;
}
}
.btn {
    min-height: 48px;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-default {
    background-color: #fff;
    border-color: #d3d8de;
    color: #0067db;
    text-shadow: none;
    -webkit-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    line-height: 24px;
}
.btn {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    border-radius: 100px;
    padding: 11px 32px;
    font-size: 1rem;
    line-height: 24px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
textarea.form-control {
    height: auto;
    resize: none;
}
.col-xs-12 {
    width: 100%;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
svg:not(:root) {
    overflow: hidden;
}
.svg-brand {
    stroke: #0067db;
    fill: #0067db;
}
.inline-svg {
    display: inline-block;
    width: 1em;
    height: 1em;
}
svg:not(:root) {
    overflow: hidden;
}
.switch .switch-toggle::before {
    position: absolute;
    display: block;
    content: '';
    border-radius: 50%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,103,219,0.4);
    opacity: 0;
    -webkit-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
    pointer-events: none;
}
.btn-toolbar::after, .clearfix::after, .container::after, .container-fluid::after, .dl-horizontal dd::after, .form-horizontal .form-group::after, .modal-footer::after, .nav::after, .navbar::after, .navbar-collapse::after, .navbar-header::after, .pager::after, .panel-body::after, .row::after, .btn-toolbar::before, .clearfix::before, .container::before, .container-fluid::before, .dl-horizontal dd::before, .form-horizontal .form-group::before, .modal-footer::before, .nav::before, .navbar::before, .navbar-collapse::before, .navbar-header::before, .pager::before, .panel-body::before, .row::before {
    content: ' ';
    display: table;
}
@media (min-width: 992px){
.col-md-7 {
    width: 58.33333333%;
}
}
@media (min-width: 992px){
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}
}
.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}
.input-group-addon, .input-group-btn {
    white-space: nowrap;
    vertical-align: middle;
}
.input-group-btn:not(:last-child)>.btn, .input-group-btn:not(:last-child)>.btn-group {
    margin-right: -1px;
}
.input-group .form-control:not(:last-child), .input-group .input-group-wrapper:not(:last-child)>.form-control, .input-group-addon:not(:last-child), .input-group-btn:not(:last-child)>.btn, .input-group-btn:not(:last-child)>.btn-group>.btn, .input-group-btn:not(:last-child)>.dropdown-toggle, .input-group-btn:not(:first-child)>.btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:not(:first-child)>.btn-group:not(:last-child)>.btn {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.dropdown-toggle.btn-default {
    border-color: #d3d8de;
    color: #323f4d;
}
.dropdown-toggle:not(.btn-link) {
    padding: 11px 16px;
    line-height: 32px;
    border-radius: 4px;
}
.phone-number-input .btn i {
    height: 19px;
}
.flag-us {
    background-position: -288px -48px;
}
[class^='flag-'], [class*=' flag-'] {
    background-image: url(https://csvcus.homeaway.com/rsrcs/baseline/3.15.1/images/flag.png);
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 20px;
    vertical-align: text-top;
    background-repeat: no-repeat;
    margin-top: -4px;
}
i[class^='flag-']::after, i[class*='flag-']::after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    content: '';
    height: 16px;
    margin-top: 4px;
    margin-left: 1px;
    width: 22px;
    border: 1px solid #d1d1d1;
    border-color: rgba(0,0,0,0.2);
    display: block;
}
.dropdown-toggle.btn-default .caret, .dropdown-toggle.btn-default .icon-chevron-down {
    color: #0067db;
}
.dropdown-toggle:not(.btn-link) .icon-chevron-down, .dropdown-toggle:not(.btn-link) .svg-chevron-down {
    width: 16px;
    margin-left: 8px;
}
.dropdown-toggle:not(.btn-link) .caret, .dropdown-toggle:not(.btn-link) .icon-chevron-down, .dropdown-toggle:not(.btn-link) .svg-chevron-down {
    -webkit-transition: -webkit-transform 200ms linear;
    -o-transition: -o-transform 200ms linear;
    transition: transform 200ms linear;
}
.btn:not(.btn-icon)>[class^="icon-chevron-"], .btn:not(.btn-icon)>[class*=" icon-chevron-"] {
    font-size: inherit;
    margin-top: 0;
}
.phone-number-input .btn i {
    height: 19px;
}
.icon-chevron-down:before {
    content: "\f118";
}
.phone-number-input .dropdown-menu {
    margin-top: -1px;
    height: 200px;
    overflow-y: scroll;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: block;
    visibility: hidden;
    float: left;
    min-width: 175px;
    padding: 5px 0;
    margin: 8px 0 0;
    list-style: none;
    font-size: 16px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #d3d8de;
    border-radius: 4px;
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.1);
    background-clip: padding-box;
    opacity: .3;
    -webkit-transform-origin: top;
    -o-transform-origin: top;
    transform-origin: top;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: scale(1,0);
    -o-transform: scale(1,0);
    transform: scale(1,0);
    overflow: hidden;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.dropdown-menu>li {
    position: relative;
    top: -16px;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.phone-number-input .dropdown-menu li>a {
    position: relative;
    padding: 13px 20px;
    color: #72787c;
}
.dropdown-menu>li>a {
    display: block;
    padding: 10px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.5rem;
    color: #0067db;
    white-space: nowrap;
}
.dropdown-menu i {
    color: #d6d9db;
}
.flag-dz {
    background-position: -120px -120px;
}
[class^='flag-'], [class*=' flag-'] {
    background-image: url(//csvcus.homeaway.com/rsrcs/baseline/3.15.1/images/flag.png);
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 20px;
    vertical-align: text-top;
    background-repeat: no-repeat;
    margin-top: -4px;
}
i[class^='flag-']::after, i[class*='flag-']::after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    content: '';
    height: 16px;
    margin-top: 4px;
    margin-left: 1px;
    width: 22px;
    border: 1px solid #d1d1d1;
    border-color: rgba(0,0,0,0.2);
    display: block;
}
.phone-number-input .form-group {
    margin-bottom: 0;
}
.has-icon {
    position: relative;
    z-index: 0;
}
.phone-number-input .has-icon .form-control-icon {
    top: -2px;
    left: 15px;
    z-index: 3;
}
.has-icon .form-control-icon {
    color: #a0a9b2;
    position: absolute;
    top: -2px;
    left: 16px;
    z-index: 2;
    display: block;
    text-align: left;
    line-height: 56px;
    pointer-events: none;
}
.phone-number-input .form-control.cc-length-1 {
    padding-left: 40px;
}
.input-group .form-control:not(:first-child), .input-group .input-group-wrapper:not(:first-child)>.form-control, .input-group-addon:not(:first-child), .input-group-btn:not(:first-child)>.btn, .input-group-btn:not(:first-child)>.btn-group>.btn, .input-group-btn:not(:first-child)>.dropdown-toggle, .input-group-btn:not(:last-child)>.btn:not(:first-child), .input-group-btn:not(:last-child)>.btn-group:not(:first-child)>.btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.profile-form-container .help-block {
    display: inline;
}
#add-another-phone-link {
    cursor: pointer;
}