
#page-numbers {
    list-style: none;
    display: flex;
  }
  
  #page-numbers > li {
    user-select: none;
    cursor: pointer;
    color: #ffffff;
    padding: 20px;
    background: gray;
    cursor: pointer;
}
  
  #footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 20%;
}