.heightclass{
    height: calc(((100vh - 61px) / 8) * 0.5715)
}
.navclass{
    top: 0px
}
.heightzeroclass{
    height: 0px
}
.thumbnaillink{
    height: calc(((100vh - 61px) / 8) - 1px)
}
.partnerproperty{
    background-image: url(&quot;https://csvcus.homeaway.com/rsrcs/globalnav/2.5.0/images/property-no-thumbnail.gif&quot;);
    height: calc(((100vh - 61px) / 8) - 1px)
}
.propertyitemclass{
    height: calc(((100vh - 61px) / 8) - 1px)
}
.collapsedclass{
    max-height: 80px; min-height: 0px; height: 0px;
}
.barclass{
    width: 85%; 
    left: 15%; 
    border-radius: 0px 10px 10px 0px;
}