.navclass{
height: calc(((100vh - 61px) / 8) - 1px)
}
.itemclass{
max-height: 80px; min-height: 0px; height: 0px;
}
.partnerclass{
    height: calc(((100vh - 61px) / 8) * 0.5715);
}
.barclass{
width: 100%; left: 0%; border-radius: 10px;
}
.thumbnailclass{
    width: 100%; left: 0%; border-radius: 10px;
}
.proprtyclass{
background-image: url(&quot;https://csvcus.homeaway.com/rsrcs/globalnav/2.5.0/images/property-no-thumbnail.gif&quot;);
height: calc(((100vh - 61px) / 8) - 1px);
}
.checklistclass{
    padding-top: '0px'
}
.topclass{
    top: 0px;
}