.header-bce {
    background: #fff;
    border-bottom: 1px solid #dbdbdb;
    border-top: 0;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}


@media (min-width: 1200px){
.container {
    width: 1170px;
}
}
@media (min-width: 992px){
.container {
    width: 970px;
}
}
@media (min-width: 768px){
.container {
    width: 750px;
}
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header-bce .header.navbar {
    position: static;
}
.navbar {
    position: relative;
    min-height: 40px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.header-bce .header {
    margin-bottom: 0;
    background: #fff;
    padding: 14px 0;
}


.header-bce .header.navbar .navbar-inner {
    background: #fff;
}
.navbar.navbar-bce .navbar-inner {
    border: 0;
    padding: 0;
    background-image: none;
}
.header-bce .navbar-inner {
    box-shadow: none;
    background: 0;
    background-image: none;
    border: 0;
    -webkit-filter: none;
    filter: none;
}


.pull-left {
    float: left!important;
	margin-left: -15px !important;
	margin-left: -15px !important;
}
.header-bce .logo {
    display: inline-block;
    vertical-align: top;
    min-height: 50px;
}


.header-bce .logo img {
    max-height: 50px;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
.header-bce-birdhouse-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 80px;
    width: 80px;
    text-align: center;
}
.header-bce-birdhouse-container .flip-container, .header-bce-birdhouse-container .front, .header-bce-birdhouse-container .back {
    width: 80px;
    height: 80px;
}
.header-bce-birdhouse-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 80px;
    width: 80px;
    text-align: center;
}
.header-bce-birdhouse-container .flipper {
    position: relative;
}
.header-bce-birdhouse-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 80px;
    width: 80px;
    text-align: center;
}
.header-bce-birdhouse-container .front {
    z-index: 2;
    visibility: visible;
}

.header-bce-birdhouse-container .front, .header-bce-birdhouse-container .back {
    position: absolute;
    top: 0;
    left: 0;
}
.header-bce-birdhouse-container .flip-container, .header-bce-birdhouse-container .front, .header-bce-birdhouse-container .back {
    width: 80px;
    height: 80px;
}
.header-bce-birdhouse-container .front img {
    margin-top: 15px;
}

img {
    vertical-align: middle;
}
img {
    border: 0;
}









#container {
    margin-top: 60px;
}
@media (min-width: 1200px){
.container {
    width: 1170px;
}
}
@media (min-width: 992px){
.container {
    width: 970px;
}
}
@media (min-width: 768px){
.container {
    width: 750px;
}
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
body {
    font-family: "Roboto",Arial,"Helvetica Neue",Helvetica,sans-serif !important;
    font-size: 14px !important;
    line-height: 20px !important;
    color: #353e44 !important;
    background-color: #f4f4f4 !important;
}
body {
    margin: 0;
}
html.login body {
    background-color: #f4f4f4;
}
b, strong {
    font-weight: bold !important;
}

#login-container {
    position: relative;
    z-index: 100;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
	/*display: none !important;*/
}

.login .login-header {
    margin-bottom: 15px;
}

@media (min-width: 992px){
.col-md-offset-3 {
    margin-left: 25%;
}}
@media (min-width: 992px){
.col-md-6 {
    width: 50%;
}}
@media (min-width: 992px){
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}}
@media (min-width: 768px){
.col-sm-offset-2 {
    margin-left: 16.66666667%;
}
}
@media (min-width: 768px){
.col-sm-8 {
    width: 66.66666667%;
}
}
.col-md-offset-3 {
    margin-left: 25%;
}
@media (min-width: 768px){
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
}
}
.login-form.traveler {
    padding: 0!important;
}
.panel-dashboard {
    border-color: #dbdbdb !important;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.panel-dashboard>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #dbdbdb;
}
.panel-dashboard .panel-heading {
    border-bottom: 1px solid #dbdbdb;
    padding: 20px 0;
    margin: 0 20px;
    position: relative;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.panel-dashboard .panel-title {
    font-family: "Roboto",Arial,sans-serif;
    color: #666;
    font-size: 22px;
    font-weight: 300;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    text-shadow: none;
    line-height: 20px;
}

.panel-dashboard .panel-body {
    padding: 20px 20px 30px;
}
.panel-body {
    padding: 15px;
}


*:before, *:after {
    box-sizing: border-box;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
p {
    margin: 0 0 10px;
}

a {
    color: #2a6ebb;
    text-decoration: none;
}

.panel-dashboard .panel-footer {
    padding: 20px 0;
    margin: 0 20px;
}
.panel-dashboard .panel-footer {
    background-color: #fff;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #f4f4f4;
    border-top: 1px solid #dbdbdb;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.btn-lg {
    padding: 9px 31px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 0;
}
.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
    border-color: transparent;
    background: 0;
}
.btn-link, .btn-link:active, .btn-link.active, .btn-link[disabled], fieldset[disabled] .btn-link {
    background-color: transparent;
    box-shadow: none;
}
.btn-link {
    color: #2a6ebb !important;
    font-weight: normal !important;
    border-radius: 0 !important;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 5px 15px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    color: #2a6ebb;
    text-shadow: none;
    border-color: #dbdbdb;
}
#profileButton {
    white-space: normal;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
.btn-lg {
    padding: 9px 31px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 0;
}
.btn-info {
    background-color: #2a6ebb !important;
    color: #fff !important;
    text-shadow: none !important;
    border-color: #2a6ebb !important;
	border-radius: 0 !important;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 5px 15px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    color: #2a6ebb;
    text-shadow: none;
    border-color: #dbdbdb;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
@media (min-width: 1200px){
.container {
    width: 1170px;
}}
@media (min-width: 992px){
.container {
    width: 970px;
}}
@media (min-width: 768px){
.container {
    width: 750px;
}}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}

.page-footer {
    text-align: center;
    padding-top: 1.25em;
    padding-bottom: 2.5em;
}
@media (min-width: 992px){
.col-md-12 {
    width: 100%;
}}
@media (min-width: 992px){
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}}
.heada {
    font-size: 40px !important;
    font-weight: 300 !important;
    font-family: "Roboto",Arial,sans-serif !important;
    color: #353e44 !important;
	margin-left: 270px !important;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.bordeer{
	
}
h1, .h1 {
    font-size: 40px;
    font-weight: 300;
    font-family: "Roboto",Arial,sans-serif;
    color: #353e44;
}
.page-footer p {
    line-height: 1.5em;
    margin: 0;
    font-size: 8pt;
}
.btn-link:hover, .btn-link:focus {
    color: #1c497d !important;
    text-decoration: underline !important;
    background-color: transparent !important;
}
.page-footer {
    text-align: center;
    padding-top: 1.25em;
    padding-bottom: 2.5em;
}

