.tracksty{
    visibility:visible;
    left:0%;
    width:100%;
}

.slidersty{
    left:0%;
}

.handlesty{
    left:100%;
}

.basesty{
    max-height:308px;
}

.buttonsty{
    background-image: url(https://odis.homeaway.com/odis/listing/0b79edad-03b6-47d7-a965-58ba0471587e.c6.jpg);
}

.imgsty{
    background-image: url(https://odis.homeaway.com/odis/listing/0b79edad-03b6-47d7-a965-58ba0471587e.c6.jpg);
}
.imst{
    background-image: url(https://odis.homeaway.com/odis/listing/972a5098-6345-4e64-8262-374d19213390.c6.jpg);
}

sty{
    display:inline-block;
    outline:0;
    position:relative
}
.FilterBar {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    padding: 0 24px;
    border-bottom: 1px solid #d3d8de;
    z-index: 999;
    position: relative;
    }
    .FilterBar .Dropdown {
    display: block;
    }
    .Dropdown {
    outline: none;
    position: relative;
    }
    .FilterBar .Dropdown__toggle {
    -webkit-box-align: center;
    align-items: center;
    border: none;
    box-shadow: none;
    display: -webkit-inline-box;
    display: inline-flex;
    height: 54px;
    outline: none;
    padding: 11px 8px;
    }
    .Dropdown__toggle {
    font-size: .875rem;
    }
    .Dropdown__toggle {
    border-radius: 4px;
    color: #5e6d77;
    padding: 11px 16px;
    line-height: 32px;
    }
    .btn {
    min-height: 48px;
    }
    .btn-default {
    background-color: #fff;
    border-color: #d3d8de;
    color: #0067db;
    text-shadow: none;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    line-height: 24px;
    }
    .btn {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    border-radius: 100px;
    padding: 11px 32px;
    font-size: 1rem;
    line-height: 24px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
    .FilterBar__dropdown--unselected .Dropdown__toggle span:first-child {
    font-weight: 400;
    color: #5e6d77;
    }
    .FilterBar__dropdown .Dropdown__toggle .btn__label {
    line-height: 1rem;
    }
    .btn__label {
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 100%;
    }
    .Dropdown__toggle-icon {
    line-height: 12px;
    transition: -webkit-transform .2s linear;
    transition: transform .2s linear;
    transition: transform .2s linear,-webkit-transform .2s linear;
    margin-left: 8px;
    }
    .SVGIcon--12px {
    width: 12px;
    height: 12px;
    }
    .SVGIcon {
    display: inline-block;
    stroke-width: 1.5;
    stroke: currentColor;
    width: 24px;
    height: 24px;
    }
    .Dropdown__toggle .SVGIcon svg {
    margin-bottom: -1px;
    }
    svg:not(:root) {
    overflow: hidden;
    }
    .PriceDropdown .Dropdown__menu {
    width: 500px;
    }
    .FilterBar .Dropdown__menu {
    border: none;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.35);
    padding: 0 20px;
    }
    .Dropdown__menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: block;
    visibility: hidden;
    float: left;
    min-width: 175px;
    padding: 5px 0;
    margin: 8px 0 0;
    list-style: none;
    font-size: 16px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #d3d8de;
    border-radius: 4px;
    box-shadow: 0 8px 14px 0 rgba(0,0,0,.1);
    background-clip: padding-box;
    opacity: .3;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    overflow: hidden;
    transition: none;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .DropdownPanel .DropdownPanel__content {
    opacity: 1;
    z-index: 1000;
    position: relative;
    padding: 0;
    }
    .DropdownPanel .DropdownPanel__content .DropdownPanel__children {
    opacity: 1;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    @media (min-width: 768px){
    .PriceSlider {
    border-bottom: 0;
    }
    }
    .PriceSlider {
    width: 100%;
    padding-top: 16px;
    min-height: 128px;
    border-bottom: 1px solid #d3d8de;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .PriceSlider__priceLabel {
    line-height: 32px;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .PriceSlider__priceLabel__values {
    font-size: 1.5rem;
    font-weight: 700;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .PriceSlider__priceLabel__perNight {
    margin-left: 16px;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    @media (min-width: 768px){
    .PriceSlider__slider {
    margin: 16px 0;
    }
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .Slider, .Slider * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
    .Slider {
    height: 32px;
    padding: 16px 0;
    margin: 0 16px;
    width: calc(100% - 32px);
    position: relative;
    border-radius: 6px;
    touch-action: none;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .Slider .rc-slider-rail {
    position: absolute;
    width: 100%;
    border-radius: 6px;
    }
    .Slider .rc-slider-rail, .Slider .rc-slider-track {
    background-color: #323f4d;
    height: 2px;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .Slider .rc-slider-track {
    position: absolute;
    left: 0;
    border-radius: 6px;
    }
    .Slider .rc-slider-rail, .Slider .rc-slider-track {
    background-color: #323f4d;
    height: 2px;
    }
    .Slider, .Slider * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .Slider .rc-slider-step {
    position: absolute;
    width: 100%;
    height: 2px;
    background: transparent;
    }
    .Slider, .Slider * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .Slider .rc-slider-handle-target {
    height: 44px;
    width: 44px;
    position: absolute;
    margin-left: -22px;
    margin-top: -22px;
    padding: 6px;
    touch-action: pan-x;
    cursor: -webkit-grab;
    cursor: grab;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .Slider .rc-slider-handle {
    height: 32px;
    width: 32px;
    border: 1px solid #323f4d;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .Slider .rc-slider-handle-target {
    height: 44px;
    width: 44px;
    position: absolute;
    margin-left: -22px;
    margin-top: -22px;
    padding: 6px;
    touch-action: pan-x;
    cursor: -webkit-grab;
    cursor: grab;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .Slider .rc-slider-handle {
    height: 32px;
    width: 32px;
    border: 1px solid #323f4d;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .DropdownPanel .DropdownPanel__content .DropdownPanel__buttons {
    -webkit-box-pack: end;
    justify-content: flex-end;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    margin: 0 0 24px;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .DropdownPanel .DropdownPanel__content .DropdownPanel__buttons .btn-primary {
    max-width: 150px;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .btn-xs {
    min-height: 32px;
    line-height: 1rem;
    }
    .btn {
    min-height: 48px;
    }
    .btn-rounded {
    border-radius: 100px;
    }
    .btn-xs {
    padding: 4.5px 16px;
    font-size: .8125rem;
    line-height: 21px;
    }
    .btn-primary {
    position: relative;
    border-radius: 100px;
    background-color: #0067db;
    border-color: #0067db;
    color: #fff;
    text-shadow: none;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    line-height: 24px;
    box-shadow: none;
    }
    .btn {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    border-radius: 100px;
    padding: 11px 32px;
    font-size: 1rem;
    line-height: 24px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .btn__label {
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 100%;
    }
    .FilterBar .Dropdown {
    display: block;
    }
    .Dropdown {
    display: inline-block;
    outline: none;
    position: relative;
    }
    .FilterBar .Dropdown__toggle {
    -webkit-box-align: center;
    align-items: center;
    border: none;
    box-shadow: none;
    display: -webkit-inline-box;
    display: inline-flex;
    height: 54px;
    outline: none;
    padding: 11px 8px;
    }
    .Dropdown__toggle {
    font-size: .875rem;
    }
    .Dropdown__toggle {
    border-radius: 4px;
    color: #5e6d77;
    padding: 11px 16px;
    line-height: 32px;
    }
    .FilterBar__dropdown--unselected .Dropdown__toggle span:first-child {
    font-weight: 400;
    color: #5e6d77;
    }
    .FilterBar__dropdown .Dropdown__toggle .btn__label {
    line-height: 1rem;
    }
    .btn__label {
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 100%;
    }
    .FilterBar .Dropdown__toggle.btn-default .SVGIcon {
    margin-left: 8px;
    }
    .Dropdown__toggle-icon {
    line-height: 12px;
    transition: -webkit-transform .2s linear;
    transition: transform .2s linear;
    transition: transform .2s linear,-webkit-transform .2s linear;
    margin-left: 8px;
    }
    .SVGIcon--12px {
    width: 12px;
    height: 12px;
    }
    .SVGIcon {
    display: inline-block;
    stroke-width: 1.5;
    stroke: currentColor;
    width: 24px;
    height: 24px;
    }
    .Dropdown__toggle .SVGIcon svg {
    margin-bottom: -1px;
    }
    svg:not(:root) {
    overflow: hidden;
    }
    .BedroomsDropdown .Dropdown__menu {
    width: 400px;
    padding: 0 32px;
    }
    .FilterBar .Dropdown__menu {
    border: none;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.35);
    padding: 0 20px;
    }
    .Dropdown__menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: block;
    visibility: hidden;
    float: left;
    min-width: 175px;
    padding: 5px 0;
    margin: 8px 0 0;
    list-style: none;
    font-size: 16px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #d3d8de;
    border-radius: 4px;
    box-shadow: 0 8px 14px 0 rgba(0,0,0,.1);
    background-clip: padding-box;
    opacity: .3;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    overflow: hidden;
    transition: none;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .DropdownPanel .DropdownPanel__content {
    opacity: 1;
    z-index: 1000;
    position: relative;
    padding: 0;
    }
    .DropdownPanel .DropdownPanel__content .DropdownPanel__children {
    opacity: 1;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .FilterBar .BedroomsFilter, .FilterBar .InstantConfirmationFilter {
    border-bottom: 0;
    }
    .BedroomsFilter {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column wrap;
    padding-top: 24px;
    border-bottom: 1px solid #d3d8de;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .BedroomsFilter--icon {
    height: 0;
    margin: 0;
    padding: 0;
    width: 0;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .DropdownPanel .DropdownPanel__content .DropdownPanel__buttons {
    -webkit-box-pack: end;
    justify-content: flex-end;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    margin: 0 0 24px;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .DropdownPanel .DropdownPanel__content .DropdownPanel__buttons .btn-primary {
    max-width: 150px;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .btn-xs {
    min-height: 32px;
    line-height: 1rem;
    }
    .btn {
    min-height: 48px;
    }
    .btn-rounded {
    border-radius: 100px;
    }
    .btn-xs {
    padding: 4.5px 16px;
    font-size: .8125rem;
    line-height: 21px;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .btn__label {
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 100%;
    }
    .FilterBar .InstantConfirmationDropdown {
    min-width: 1px;
    }
    .FilterBar .InstantConfirmationDropdown .Dropdown {
    width: 100%;
    }
    .FilterBar .Dropdown {
    display: block;
    }
    .Dropdown {
    display: inline-block;
    outline: none;
    position: relative;
    }
    .FilterBar .Dropdown__toggle {
    -webkit-box-align: center;
    align-items: center;
    border: none;
    box-shadow: none;
    display: -webkit-inline-box;
    display: inline-flex;
    height: 54px;
    outline: none;
    padding: 11px 8px;
    }
    .Dropdown__toggle {
    font-size: .875rem;
    }
    .Dropdown__toggle {
    border-radius: 4px;
    color: #5e6d77;
    padding: 11px 16px;
    line-height: 32px;
    }
    .FilterBar .InstantConfirmationDropdown .Dropdown__toggle .btn__label {
    white-space: normal;
    }
    .FilterBar__dropdown--unselected .Dropdown__toggle span:first-child {
    font-weight: 400;
    color: #5e6d77;
    }
    .FilterBar__dropdown .Dropdown__toggle .btn__label {
    line-height: 1rem;
    }
    .FilterBar .Dropdown__toggle.btn-default .SVGIcon {
    margin-left: 8px;
    }
    .Dropdown__toggle-icon {
    line-height: 12px;
    transition: -webkit-transform .2s linear;
    transition: transform .2s linear;
    transition: transform .2s linear,-webkit-transform .2s linear;
    margin-left: 8px;
    }
    .SVGIcon--12px {
    width: 12px;
    height: 12px;
    }
    .SVGIcon {
    display: inline-block;
    stroke-width: 1.5;
    stroke: currentColor;
    width: 24px;
    height: 24px;
    }
    .Dropdown__toggle .SVGIcon svg {
    margin-bottom: -1px;
    }
    .InstantConfirmationDropdown .Dropdown__menu {
    width: 350px;
    }
    .FilterBar .Dropdown__menu {
    border: none;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.35);
    padding: 0 20px;
    }
    .Dropdown__menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: block;
    visibility: hidden;
    float: left;
    min-width: 175px;
    padding: 5px 0;
    margin: 8px 0 0;
    list-style: none;
    font-size: 16px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #d3d8de;
    border-radius: 4px;
    box-shadow: 0 8px 14px 0 rgba(0,0,0,.1);
    background-clip: padding-box;
    opacity: .3;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    overflow: hidden;
    transition: none;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .DropdownPanel .DropdownPanel__content {
    opacity: 1;
    z-index: 1000;
    position: relative;
    padding: 0;
    }
    .DropdownPanel .DropdownPanel__content .DropdownPanel__children {
    opacity: 1;
    }
    .InstantConfirmation__primaryLabel {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    }
    .InstantConfirmation__secondaryLabel {
    margin-right: 16px;
    }
    .InstantConfirmationFilter .InstantConfirmationFilter--row:last-child {
    margin-bottom: 0;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .switch {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .switch input+label {
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    vertical-align: middle;
    width: 80px;
    height: 40px;
    background-color: #adb2b8;
    -webkit-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
    }
    .switch>label {
    position: relative;
    }
    label {
    display: inline-block;
    margin-bottom: 5px;
    color: #5e6d77;
    }
    .switch input+label .switch-checked, .switch input:checked+label .switch-unchecked {
    opacity: 0;
    }
    .switch>label .switch-checked {
    left: 10px;
    }
    .switch>label .SVGIcon {
    position: absolute;
    margin-left: 0;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .switch svg {
    fill: #fff;
    font-size: 20px;
    height: 40px;
    position: absolute;
    }
    .switch>label .switch-unchecked {
    right: 10px;
    }
    .switch>label .SVGIcon {
    position: absolute;
    margin-left: 0;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .switch .switch-toggle {
    top: 0;
    }
    .switch .switch-toggle {
    background: #fff;
    border-radius: 20px;
    height: 30px;
    width: 30px;
    left: 0;
    margin: 5px;
    position: absolute;
    -webkit-transition: left .2s ease-in-out;
    transition: left .2s ease-in-out;
    }
    .switch .switch-toggle:before {
    position: absolute;
    display: block;
    content: "";
    border-radius: 50%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,103,219,.4);
    opacity: 0;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    pointer-events: none;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .switch label+label {
    cursor: pointer;
    margin-left: 10px;
    vertical-align: middle;
    font-size: 16px;
    color: #323f4d;
    }
    .switch>label {
    position: relative;
    }
    label {
    display: inline-block;
    margin-bottom: 5px;
    color: #5e6d77;
    }
    .MoreFiltersPanelDropdown .Dropdown {
    position: static;
    }
    .FilterBar .Dropdown {
    display: block;
    }
    .FilterBar .Dropdown__toggle {
    -webkit-box-align: center;
    align-items: center;
    border: none;
    box-shadow: none;
    display: -webkit-inline-box;
    display: inline-flex;
    height: 54px;
    outline: none;
    padding: 11px 8px;
    }
    .Dropdown__toggle {
    font-size: .875rem;
    }
    .Dropdown__toggle {
    border-radius: 4px;
    color: #5e6d77;
    padding: 11px 16px;
    line-height: 32px;
    }
    .FilterBar__dropdown--unselected .Dropdown__toggle span:first-child {
    font-weight: 400;
    color: #5e6d77;
    }
    .FilterBar__dropdown .Dropdown__toggle .btn__label {
    line-height: 1rem;
    }.FilterBar__dropdown--unselected .Dropdown__toggle span:first-child {
    font-weight: 400;
    color: #5e6d77;
    }
    .FilterBar__dropdown .Dropdown__toggle .btn__label {
    line-height: 1rem;
    }
    .FilterBar .Dropdown__toggle.btn-default .SVGIcon {
    margin-left: 8px;
    }
    .Dropdown__toggle-icon {
    line-height: 12px;
    transition: -webkit-transform .2s linear;
    }
    @media (min-width: 992px){
    .MoreFiltersPanelDropdown .Dropdown__menu {
    width: 66.66666667%;
    max-width: 880px;
    }}
    .MoreFiltersPanelDropdown .Dropdown__menu {
    border-top: 1px solid #d3d8de;
    border-radius: 0;
    box-shadow: none;
    bottom: 0;
    top: 204px;
    overflow-y: hidden;
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    width: 100%;
    margin: 0;
    }
    .FilterBar .Dropdown__menu {
    border: none;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.35);
    padding: 0 20px;
    }
    .Dropdown__menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: block;
    visibility: hidden;
    float: left;
    min-width: 175px;
    padding: 5px 0;
    margin: 8px 0 0;
    list-style: none;
    font-size: 16px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #d3d8de;
    border-radius: 4px;
    box-shadow: 0 8px 14px 0 rgba(0,0,0,.1);
    background-clip: padding-box;
    opacity: .3;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    overflow: hidden;
    transition: none;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .MoreFiltersPanel, .MoreFiltersPanel__content {
    display: -webkit-box;
    display: flex;
    -webkit-box-direction: normal;
    height: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    }
    .MoreFiltersPanel {
    -webkit-box-orient: vertical;
    flex-flow: column nowrap;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .MoreFiltersPanel__content {
    -webkit-box-orient: horizontal;
    flex-flow: row nowrap;
    overflow-y: scroll;
    padding: 0 32px;
    position: relative;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
    }
    .MoreFiltersPanel, .MoreFiltersPanel__content {
    display: -webkit-box;
    display: flex;
    -webkit-box-direction: normal;
    height: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .MoreFiltersPanel__column--left {
    padding-right: 16px;
    }
    .MoreFiltersPanel__column {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column nowrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    opacity: 1;
    padding: 0;
    width: 50%;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .MoreFiltersPanel__filter-section {
    margin-top: 24px;
    padding-bottom: 24px;
    width: 100%;
    }
    .MoreFiltersPanel__filter-section--bordered {
    border-bottom: 1px solid #d3d8de;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .BathroomsFilter__icon {
    height: 0;
    margin: 0;
    padding: 0;
    width: 0;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .BathroomsFilter__icon {
    height: 0;
    margin: 0;
    padding: 0;
    width: 0;
    }
    .BathroomsFilter__row {
    margin-bottom: 0;
    }
    FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .BathroomsFilter__QuantitySelector .quantity-selector {
    height: 51px;
    }
    .quantity-selector {
    display: -webkit-box;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    align-content: flex-end;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .quantity-selector__label {
    font-size: 16px;
    color: #5e6d77;
    min-width: 50px;
    margin: 0;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    }
    .BathroomsFilter__value {
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
    margin-right: 16px;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .BathroomsFilter__label {
    display: inline-block;
    text-transform: lowercase;
    }
    .FilterBar .Dropdown__menu * input {
    opacity: 0;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .MoreFiltersPanel__column .quantity-selector__input {
    opacity: 0;
    }
    .quantity-selector__input {
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0;
    padding: 0;
    position: absolute;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .quantity-selector__focus-indicator {
    position: absolute;
    left: 0;
    width: 0;
    bottom: 0;
    height: 2px;
    pointer-events: none;
    transition: width .25s ease;
    }
    btn-icon.disabled.btn-default, .btn-icon[disabled].btn-default {
    color: #d3d8de;
    }
    .btn-icon.btn-default:not(.btn-inverse) {
    color: #323f4d;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .quantity-selector__btn:disabled {
    fill: #d3d8de;
    }
    .btn-default.disabled, .btn-default[disabled] {
    background-color: #fff;
    color: #d3d8de;
    border-color: #d3d8de;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .btn__label {
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 100%;
    }
    .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
    }
    *, :after, :before {
    box-sizing: border-box;
    }
    .btn-icon.btn-default:not(.btn-inverse) {
    color: #323f4d;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .quantity-selector__btn+.quantity-selector__btn {
    margin-left: 20px;
    }
    .quantity-selector__btn {
    width: 50px;
    height: 50px;
    fill: #0067db;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    }
    .MoreFilters__filterGroup {
    padding: 24px 0 16px;
    border-bottom: 1px solid #d3d8de;
    }
    .MoreOrLess--block {
    padding-bottom: 48px;
    }
    .MoreOrLess {
    position: relative;
    }
    .CollapseBase {
    position: relative;
    overflow: hidden;
    transition: max-height .5s ease;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .checkbox-group, .radio-group {
    position: relative;
    }
    .form-group {
    margin-bottom: 16px;
    }
    .checkbox-group label, .radio-group label {
    width: auto;
    padding-right: 16px;
    }
    .checkbox-group label, .radio-group label {
    margin-bottom: 0;
    padding-left: 45px;
    line-height: 32px;
    min-height: 32px;
    position: relative;
    cursor: pointer;
    color: #323f4d;
    width: 100%;
    }
    .FilterBar .Dropdown__menu * input {
    opacity: 0;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .checkbox-group input, .radio-group input {
    position: absolute;
    opacity: 0;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .checkbox-group .toggle {
    border-radius: 4px;
    }
    .checkbox-group .toggle, .radio-group .toggle {
    -webkit-transition: all .15s ease-out;
    transition: all .15s ease-out;
    width: 32px;
    height: 32px;
    border: 1px solid #d3d8de;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .SVGIcon--24px {
    width: 24px;
    height: 24px;
    }
    .SVGIcon--inline {
    display: inline;
    vertical-align: text-bottom;
    }
    .checkbox-group .toggle svg {
    height: 24px;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .MoreFiltersPanel__column--right {
    padding-left: 16px;
    }
    .MoreFiltersPanel__column {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column nowrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    opacity: 1;
    padding: 0;
    width: 50%;
    }
    .MoreFilters__filterGroup {
    padding: 24px 0 16px;
    border-bottom: 1px solid #d3d8de;
    }
    .MoreOrLess--block {
    padding-bottom: 48px;
    }
    .MoreOrLess {
    position: relative;
    }
    .CollapseBase {
    position: relative;
    overflow: hidden;
    transition: max-height .5s ease;
    }
    .checkbox-group, .radio-group {
    position: relative;
    }
    .FilterBar .Dropdown__menu * input {
    opacity: 0;
    }
    .FilterBar .Dropdown__menu * {
    transition: none;
    opacity: 1;
    }
    .checkbox-group input, .radio-group input {
    position: absolute;
    opacity: 0;
    }
    .checkbox-group .toggle {
    border-radius: 4px;
    }
    .checkbox-group .toggle, .radio-group .toggle {
    -webkit-transition: all .15s ease-out;
    transition: all .15s ease-out;
    width: 32px;
    height: 32px;
    border: 1px solid #d3d8de;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    }
    .checkbox-group .toggle svg {
    height: 24px;
    }
    .checkbox-group .toggle svg {
    font-size: 32px;
    
    }
    .MoreOrLess__toggle--block {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(180deg,hsla(0,0%,100%,0) 0,hsla(0,0%,100%,.9) 50%);
    padding: 85px 0 16px;
    text-align: left;
    transition: padding .5s ease;
    }
    .MoreOrLess__toggle {
    background-color: transparent;
    border: 0;
    padding: 0;
    }
    .MoreOrLess__toggle-text {
    position: relative;
    }
    @media (min-width: 992px){
    .MoreFiltersPanel__buttons {
    max-width: 880px;
    }
    }
    .MoreFiltersPanel__buttons {
    bottom: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    -webkit-box-pack: end;
    justify-content: flex-end;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    padding: 16px 8px;
    box-shadow: 0 0 16px 0 rgba(0,0,0,.08);
    pointer-events: none;
    }
    .MoreFiltersPanel__buttons button {
    margin-left: 8px;
    margin-right: 8px;
    pointer-events: all;
    }
    .btn {
    min-height: 48px;
    }
    .btn-rounded {
    border-radius: 100px;
    }
    .btn-default {
    background-color: #fff;
    border-color: #d3d8de;
    color: #0067db;
    text-shadow: none;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    line-height: 24px;
    }
    .btn {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    border-radius: 100px;
    padding: 11px 32px;
    font-size: 1rem;
    line-height: 24px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
    .MoreFiltersPanel__buttons button {
    margin-left: 8px;
    margin-right: 8px;
    pointer-events: all;
    }
    @media (min-width: 768px){
    .Hit {
    min-height: 232px;
    overflow: visible;
    }
    }
    .Hit {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 0 20px;
    border-radius: 6px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.1);
    overflow: hidden;
    position: relative;
    -webkit-transform: perspective(100px);
    transform: perspective(100px);
    transition: -webkit-transform .25s;
    transition: transform .25s;
    transition: transform .25s,-webkit-transform .25s;
    background: #fff;
    }
    .media-flex--left {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    }
    @media (min-width: 992px){
    .Hit:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    box-shadow: 0 16px 56px -16px rgba(0,0,0,.35);
    opacity: 0;
    transition: all .25s;
    }
    }
    .content--clickable {
    cursor: pointer;
    }
    @media (min-width: 768px){
    .Hit__loadingThumbnail, .Hit__thumbnail {
    width: 310px;
    min-width: 310px;
    max-width: 310px;
    border-radius: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    min-height: 232px;
    }
    }
    .Hit__thumbnail {
    background-color: #f6f7f8;
    background-size: cover;
    background-position: 50%;
    }
    .Hit__loadingThumbnail, .Hit__thumbnail {
    height: 200px;
    margin: 0;
    overflow: hidden;
    }
    @media (min-width: 768px){
    .Hit__tripboardButton {
    top: auto;
    bottom: 10px;
    }
    }
    .Hit__tripboardButton {
    position: absolute;
    left: 10px;
    top: 150px;
    z-index: 2;
    }
    @media (min-width: 768px){
    .SimpleImageCarousel, .SimpleImageCarousel__image {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    }
    }
    .SimpleImageCarousel {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    text-decoration: none;
    outline: none;
    background-color: #ccc;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    }
    .SimpleImageCarousel__image--cur {
    z-index: 0;
    -webkit-transform: none;
    transform: none;
    }
    .SimpleImageCarousel__image {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition-timing-function: ease;
    transition-duration: 0ms;
    transition-property: opacity,-webkit-transform;
    transition-property: transform,opacity;
    transition-property: transform,opacity,-webkit-transform;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    }
    .SimpleImageCarousel__image--next-slide {
    -webkit-transform: translateX(100%);
    }
    .SimpleImageCarousel__image--prev-slide {
    -webkit-transform: translateX(-100%);
    }
    .SimpleImageCarousel__preloader {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
    }
    .SimpleImageCarousel__button--left {
    left: 0;
    }
    .SimpleImageCarousel__button {
    z-index: 1;
    position: absolute;
    width: 25%;
    height: 100%;
    padding: 0;
    cursor: pointer;
    transition: all .25s;
    -webkit-transform: perspective(100px);
    transform: perspective(100px);
    color: #fff;
    border-radius: 0;
    border: 1px solid transparent;
    background: transparent;
    }
    button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    }
    .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
    }
    .SimpleImageCarousel__svg--left {
    left: 20px;
    }
    .SimpleImageCarousel__svg {
    position: absolute;
    margin: auto 0;
    top: 0;
    bottom: 0;
    }
    .SVGIcon--24px {
    width: 24px;
    height: 24px;
    }
    .SVGIcon {
    display: inline-block;
    stroke-width: 1.5;
    stroke: currentColor;
    width: 24px;
    height: 24px;
    }
    .SimpleImageCarousel__button--right {
    right: 0;
    }
    .SimpleImageCarousel__button {
    z-index: 1;
    position: absolute;
    width: 25%;
    height: 100%;
    padding: 0;
    cursor: pointer;
    transition: all .25s;
    -webkit-transform: perspective(100px);
    transform: perspective(100px);
    color: #fff;
    border-radius: 0;
    border: 1px solid transparent;
    background: transparent;
    }
    .SimpleImageCarousel__svg--right {
    right: 20px;
    }
    .SimpleImageCarousel__svg {
    position: absolute;
    margin: auto 0;
    top: 0;
    bottom: 0;
    }
    @media (min-width: 768px){
    .Hit__info {
    align-content: flex-start;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    }
    }
    .Hit__info {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    margin: 0;
    overflow-x: hidden;
    position: relative;
    width: 100%;
    }
    .a--plain-link, .a--plain-link:focus, .a--plain-link:hover {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
    }
    .a--plain-link {
    display: block;
    }
    .Hit__infoLink {
    width: 100%;
    }
    @media (min-width: 768px){
    .HitInfo--desktop, .HitInfo__content {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    }
    }
    @media (min-width: 768px){
    .HitInfo--desktop {
    flex-direction: column;
    height: 232px;
    }
    }
    .HitInfo {
    width: 100%;
    }
    @media (min-width: 768px){
    .HitInfo__content {
    -webkit-box-flex: 1;
    flex: 1;
    flex-direction: column;
    font-size: 1rem;
    padding: 12px 16px;
    }
    }
    @media (min-width: 768px){
    .HitInfo--desktop, .HitInfo__content {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    }
    }
    .HitInfo__content {
    width: 100%;
    padding: 8px 12px;
    font-size: .875rem;
    }
    @media (min-width: 768px){
    .HitInfo__viewedUrgency {
    overflow: hidden;
    margin-bottom: 12px;
    }
    }
    @media (min-width: 768px){
    .HitInfo__headline {
    -webkit-box-flex: 0;
    flex: none;
    -webkit-box-ordinal-group: 3;
    order: 2;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 0;
    overflow: hidden;
    max-height: 48px;
    }
    }
    .HitInfo__headline {
    word-wrap: break-word;
    cursor: pointer;
    -webkit-box-flex: 1;
    flex: 1 100%;
    transition: all .25s;
    }
    @media (min-width: 768px){
    .HitInfo__details {
    margin: 8px 0;
    -webkit-box-ordinal-group: 5;
    order: 4;
    }
    }
    .HitInfo__details {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    line-height: 1em;
    height: 1.1em;
    overflow: hidden;
    margin: 2px 0;
    }
    .Details__label:before {
    margin: 0 .4em;
    font-weight: 700;
    color: #d3d8de;
    content: "\B7";
    }
    .text-capitalize {
    text-transform: capitalize;
    }
    @media (min-width: 768px){
    .Details__item {
    font-size: 16px;
    }
    }
    .Details__item {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    width: auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    }
    .Details__label:before {
    margin: 0 .4em;
    font-weight: 700;
    color: #d3d8de;
    content: "\B7";
    }
    .Details__value {
    font-weight: 400;
    margin-right: 3px;
    }
    .text-capitalize {
    text-transform: capitalize;
    }
    @media (min-width: 768px){
    .HitInfo__infoBar {
    background: #f6f7f8;
    height: 64px;
    }
    }
    .HitInfo__infoBar, .HitInfo__priceSuperlativeGroup {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: justify;
    justify-content: space-between;
    }
    .HitInfo__infoBar {
    display: -webkit-box;
    display: flex;
    flex-flow: row nowrap;
    -webkit-box-align: end;
    align-items: flex-end;
    width: 100%;
    padding: 8px 12px;
    overflow: hidden;
    }
    @media (min-width: 768px){
    .HitInfo__priceSuperlativeGroup {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column wrap;
    -webkit-box-align: start;
    align-items: flex-start;
    vertical-align: center;
    }
    }
    .HitInfo__priceSuperlativeGroup {
    display: -webkit-inline-box;
    display: inline-flex;
    flex-flow: row wrap;
    -webkit-box-align: center;
    align-items: center;
    }
    @media (min-width: 768px){
    .HitInfo__superlative {
    margin-left: 0;
    vertical-align: -1px;
    }
    }
    .HitInfo__superlative {
    color: #008751;
    font-size: 14px;
    margin-left: -9px;
    margin-top: 1px;
    }
    .small {
    font-size: .87rem;
    line-height: 1.31rem;
    }
    @media (min-width: 768px){
    .HitInfo__price {
    -webkit-box-ordinal-group: 6;
    order: 5;
    display: -webkit-box;
    display: flex;
    white-space: nowrap;
    }
    }
    .HitInfo__price {
    margin-right: 16px;
    }
    @media (min-width: 768px){
    .HitInfo__price .InstantBook__icon {
    margin-right: -2px;
    }
    }
    .HitInfo__price .InstantBook__icon {
    margin: 0;
    position: relative;
    left: -3px;
    margin-right: -5px;
    top: 1px;
    }
    svg:not(:root) {
    overflow: hidden;
    }
    .Price__value {
    font-weight: 600;
    font-size: 18px;
    }
    @media (min-width: 768px){
    .Price__period {
    font-size: 14px;
    }
    }
    .Price__period {
    margin-left: 5px;
    font-size: 14px;
    letter-spacing: .2px;
    }
    @media (min-width: 768px){
    .HitInfo__badgeRatingGroup {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column nowrap;
    -webkit-box-align: end;
    align-items: flex-end;
    width: auto;
    }
    }
    .HitInfo__badgeRatingGroup {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    }
    @media (min-width: 768px){
    .HitInfo__premierBadge {
    margin: 0;
    }
    }
    .HitInfo__premierBadge {
    padding: 0;
    position: relative;
    color: inherit;
    top: auto;
    right: auto;
    font-size: .875rem;
    background: transparent;
    margin-bottom: 3px;
    }
    @media (min-width: 768px){
    .HitInfo__rating {
    -webkit-box-ordinal-group: 7;
    order: 6;
    margin: 0;
    }
    }
    .HitInfo__rating {
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    margin-right: 8px;
    }
    .HitInfo__rating .rating {
    line-height: 28px;
    }
    .rating {
    position: relative;
    font-family: Symbolicons;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    text-decoration: none;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    vertical-align: text-top;
    text-align: left;
    height: 24px;
    width: 86px;
    line-height: 24px;
    font-size: 20px;
    }
    .rating:after, .rating:before {
    content: "\f16a\f16a\f16a\f16a\f16a";
    position: absolute;
    letter-spacing: 3px;
    }
    .rating:before {
    color: #d6d9db;
    }
    .rating-5:after {
    width: 100%;
    }
    .rating:after {
    color: #323f4d;
    overflow: hidden;
    }
    .rating:after, .rating:before {
    content: "\f16a\f16a\f16a\f16a\f16a";
    position: absolute;
    letter-spacing: 3px;
    }
    .RatingReview__reviewCount {
    margin-left: 4px;
    font-size: 14px;
    }
    .RatingReview__reviewCount:before {
    content: "(";
    }
    .RatingReview__reviewCount:after {
    content: ")";
    }

    
#page-numbers {
    list-style: none;
    display: flex;
  }
  
  #page-numbers > li {
    user-select: none;
    cursor: pointer;
    color: #ffffff;
    padding: 20px;
    background: gray;
    cursor: pointer;
}
  
  #footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 20%;
}