body {
    font-family: 'Roboto','Arial','Helvetica Neue',Helvetica,sans-serif;
    font-size: 15px;
    line-height: 1.4667;
    color: #353e44;
}
.availability-type .box-selection-item.selected .mostly-available .availability-icon, .availability-type .box-selection-item:hover .mostly-available .availability-icon {
    background-image: url(//csvcus.homeaway.com/rsrcs/82/B43CA9FA2FB92C9358A6D7F3CA4308-blockOut_selected.svg);
}
.availability-type .box-selection-item .availability-icon {
    display: block;
    margin: 30px auto;
    height: 75px;
    width: 100px;
    background-repeat: no-repeat;
}
.availability-type .box-selection-item label {
    color: #598eca;
    font-size: 20px;
    min-height: 60px;
}
label {
    display: inline-block;
    margin-bottom: 5px;
    color: #72787c;
}
* {
    box-sizing: border-box;
}
.availability-type .box-selection-item.selected, .availability-type .box-selection-item:hover {
    color: inherit;
    background-color: white;
    box-shadow: none;
    border: 1px solid #2a6ebb;
    -webkit-transform: none;
    transform: none;
}
.availability-type .box-selection-item {
    padding: 30px;
    height: auto;
    width: 48%;
    margin-right: 4%;
}
.availability-type .box-selection-item.selected .mostly-blocked .availability-icon, .availability-type .box-selection-item:hover .mostly-blocked .availability-icon {
    background-image: url(//csvcus.homeaway.com/rsrcs/23/5A8B7AD986CED6F9D45A050A5AC8F0-selectDates_selected.svg);
}
.availability-type .box-selection-item .availability-icon {
    display: block;
    margin: 30px auto;
    height: 75px;
    width: 100px;
    background-repeat: no-repeat;
}
label {
    cursor: default;
}
.availability-type .box-selection-item.selected, .availability-type .box-selection-item:hover {
    color: inherit;
    background-color: white;
    box-shadow: none;
    border: 1px solid #2a6ebb;
    -webkit-transform: none;
    transform: none;
}
.availability-type .box-selection-item:last-of-type {
    margin-right: 0;
}
.availability-type .box-selection-item {
    padding: 30px;
    height: auto;
    width: 48%;
    margin-right: 4%;
}
.endDateclass{
    left: 0;
}