html.partner-nav body {
    -webkit-transition: margin-left 333ms cubic-bezier(0.86,0,0.07,1);
    transition: margin-left 333ms cubic-bezier(0.86,0,0.07,1);
    }
    .on-checklist {
    background-color: #f7f7f8;
    }
    body {
    font-family: 'Roboto','Arial','Helvetica Neue',Helvetica,sans-serif;
    font-size: 15px;
    line-height: 1.4667;
    color: #353e44;
    background-color: #fff;
    }
    svg:not(:root) {
    overflow: hidden;
    }
    #globalnav-header {
    height: 70px;
    }
    @media (min-width: 1200px){
    html.partner-nav body.on-checklist #container, html.partner-nav body.on-checklist #main {
    max-width: 1600px !important;
    }
    }
    .ha-partner-nav-header-impersonation-hidden {
    display: none;
    }
    @media (min-width: 768px){
    .ha-partner-nav-header {
    left: 84px;
    width: calc(100% - 84px);
    }
    }
    @media (min-width: 768px){
    .ha-partner-nav-header {
    position: fixed;
    }
    }
    .ha-partner-nav-header {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1025;
    top: 0;
    left: 64px;
    width: calc(100% - 64px);
    height: 61px;
    border-style: solid;
    border-width: 0 0 1px;
    }
    .ha-partner-nav-header {
    background-color: #fff;
    border-color: #f1f3f5;
    }
    .ha-partner-logo-section {
    display: -ms-flexbox;
    display: flex;
    float: left;
    -ms-flex-align: center;
    align-items: center;
    height: 61px;
    }
    .ha-partner-nav-header .ha-partner-logo {
    filter: brightness(0);
    }
    @media (min-width: 768px){
    .ha-partner-logo {
    height: 29px;
    margin: 3px 0 0 30px;
    }
    }
    @media (min-width: 768px){
    .ha-partner-nav-app-switcher:not(.ha-partner-nav-app-switcher-mobile) {
    transition: background-color .35s ease-in-out;
    display: block;
    border-left: 1px solid #f1f3f5;
    margin: 0;
    padding: 0;
    width: auto;
    height: 100%;
    position: static;
    }
    }
    .ha-partner-logo {
    height: 21px;
    margin-left: 20px;
    display: block;
    }
    .ha-partner-header-section {
    float: right;
    height: 61px;
    font-size: 15px;
    line-height: 61px;
    }
    @media (min-width: 768px){
    .ha-partner-nav-app-switcher-icon {
    cursor: pointer;
    padding: 0 30px;
    height: inherit;
    line-height: normal;
    display: inline-block;
    width: 80px;
    position: relative;
    }
    }
    @media (min-width: 768px){
    .ha-partner-nav-app-switcher-icon .ha-partner-nav-app-switcher-icon-grid {
    opacity: 1;
    visibility: visible;
    }
    }
    @media (min-width: 768px){
    .ha-partner-nav-app-switcher-icon .ha-partner-nav-app-switcher-icon-close, .ha-partner-nav-app-switcher-icon .ha-partner-nav-app-switcher-icon-grid {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform 333ms cubic-bezier(.86,0,.07,1),opacity 333ms cubic-bezier(.86,0,.07,1),visibility 333ms cubic-bezier(.86,0,.07,1);
    }
    }
    @media (min-width: 768px){
    .ha-partner-nav-app-switcher-icon .ha-partner-nav-app-switcher-icon-close {
    opacity: 0;
    visibility: hidden;
    }}
    @media (min-width: 768px){
    .ha-partner-nav-app-switcher-icon .ha-partner-nav-app-switcher-icon-close, .ha-partner-nav-app-switcher-icon .ha-partner-nav-app-switcher-icon-grid {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform 333ms cubic-bezier(.86,0,.07,1),opacity 333ms cubic-bezier(.86,0,.07,1),visibility 333ms cubic-bezier(.86,0,.07,1);
    }}
    @media (min-width: 768px){
    .ha-partner-nav-app-switcher-title {
    display: none;
    }
    }
    .ha-partner-nav-app-switcher-title {
    font-weight: 500;
    }
    @media (min-width: 768px){
    .ha-partner-nav-app-switcher-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-shadow: 0 2px 14px 0 rgba(0,0,0,.2);
    border-radius: 0 0 5px 5px;
    width: 390px;
    position: absolute;
    z-index: 5000;
    margin-top: 0;
    right: 0;
    top: 61px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 333ms cubic-bezier(.86,0,.07,1),visibility 333ms cubic-bezier(.86,0,.07,1);
    }
    }
    @media (min-width: 768px){
    .ha-partner-nav-app-switcher-app-item {
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 0 0;
    width: 130px;
    height: 130px;
    transition: background-color .35s ease-in-out,color .35s ease-in-out;
    color: #000;
    border-right: 1px solid #f1f3f5;
    border-bottom: 1px solid #f1f3f5;
    font-weight: 400;
    }
    }
    .ha-partner-nav-app-switcher-app-item {
    width: 100%;
    line-height: 25px;
    padding-left: 30px;
    color: #000;
    font-weight: 300;
    text-align: center;
    }
    @media (min-width: 768px){
    .ha-partner-nav-app-switcher-item-icon {
    display: block;
    width: 30px;
    height: 30px;
    }
    }
    .ha-partner-nav-app-switcher-item .ha-partner-nav-app-switcher-item-text {
    width: 100%;
    }
    @media (min-width: 768px){
    .ha-partner-nav-app-switcher-app-item {
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 0 0;
    width: 130px;
    height: 130px;
    transition: background-color .35s ease-in-out,color .35s ease-in-out;
    color: #000;
    border-right: 1px solid #f1f3f5;
    border-bottom: 1px solid #f1f3f5;
    font-weight: 400;
    }
    }
    .ha-partner-nav-app-switcher-app-item {
    width: 100%;
    line-height: 25px;
    padding-left: 30px;
    color: #000;
    font-weight: 300;
    text-align: center;
    }
    .ha-partner-nav-app-switcher-item {
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 400;
    width: 100%;
    box-sizing: border-box;
    }
    .ha-partner-nav-cart-empty {
    display: none;
    }
    .ha-partner-header-section {
    float: right;
    height: 61px;
    font-size: 15px;
    line-height: 61px;
    }
    @media (min-width: 768px){
    .ha-partner-nav-cart {
    border-left: 1px solid #f1f3f5;
    }
    }
    .ha-partner-nav-cart {
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -ms-flex-align: center;
    align-items: center;
    color: inherit;
    padding: 0 25px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: center;
    justify-content: center;
    transition: background-color .35s ease-in-out;
    height: 61px;
    }
    .ha-partner-nav-cart-icon {
    width: 26px;
    height: 26px;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    font-family: Symbolicons;
    font-style: normal;
    font-size: 29px;
    vertical-align: text-top;
    margin-top: 0;
    line-height: 24px;
    color: #000;
    }
    .ha-partner-notification-center-container {
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -ms-flex-align: center;
    align-items: center;
    border-left: 1px solid #f1f3f5;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    float: right;
    height: 61px;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 75px;
    position: relative;
    text-align: center;
    transition: background-color 333ms ease-in-out;
    }
    .ha-partner-notification-center-list-container.collapsed {
    box-shadow: none;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    }
    @media (min-width: 768px){
    .ha-partner-notification-center-list-container {
    bottom: auto;
    height: auto;
    left: auto;
    position: absolute;
    width: 220px;
    }
    }
    .ha-partner-notification-center-list-container {
    background: #fff;
    border: 1px solid #f1f3f5;
    bottom: 0;
    box-shadow: 0 2px 14px 0 rgba(0,0,0,.2);
    max-width: 100vw;
    opacity: 1;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    text-align: left;
    top: 61px;
    transition: opacity .12s linear,height 20ms linear,padding 20ms linear;
    width: 100vw;
    z-index: 9999999999;
    }
    .notification-center-list-item-container {
    background-color: #fff;
    display: block;
    padding: 16px;
    transition: background-color .2s linear;
    }
    .notification-center-list-item-title {
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    }
    .notification-center-list-item-notification-text {
    font-size: 14px;
    font-weight: 200;
    margin-right: 8px !important;
    }
    .ha-partner-nav-account:not(.ha-partner-nav-account-mobile) {
    display: block !important;
    }
    .ha-partner-nav-account:not(.ha-partner-nav-account-mobile) {
    margin-top: 0;
    padding-left: 0;
    border-left: 1px solid #f1f3f5;
    display: none;
    }
    .ha-partner-header-section {
    float: right;
    height: 61px;
    font-size: 15px;
    line-height: 61px;
    }
    .ha-partner-nav-account:not(.ha-partner-nav-account-mobile) .ha-partner-nav-account-header {
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    padding: 0 25px;
    height: 61px;
    }
    .ha-partner-nav-account .ha-partner-nav-account-header {
    font-weight: 500;
    }
    @media (min-width: 768px){
    .ha-partner-nav-account .ha-partner-default-user-avatar {
    display: inline !important ;
    }
    }
    .ha-partner-nav-account .ha-partner-default-user-avatar {
    
    height: 36px;
    margin-right: 15px;
    
    width: 36px;
    }
    @media (min-width: 992px){
    .ha-partner-nav-account:not(.ha-partner-nav-account-mobile) .ha-partner-nav-account-title {
    display: -ms-flexbox;
    display: flex;
    font-weight: 400;
    }
    }
    @media (min-width: 992px){
    .ha-partner-nav-account:not(.ha-partner-nav-account-mobile) .ha-partner-nav-account-container {
    position: relative;
    width: 100%;
    top: -1px;
    }
    }
    @media (min-width: 768px){
    .ha-partner-nav-account-chevron-icon {
    display: initial;
    }
    }
    @media (min-width: 992px){
    .ha-partner-nav-account:not(.ha-partner-nav-account-mobile) .ha-partner-nav-account-container {
    position: relative;
    width: 100%;
    top: -1px;
    }}
    .ha-partner-nav-account:not(.ha-partner-nav-account-mobile) .ha-partner-nav-account-container {
    color: #000;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 2px 14px 0 rgba(0,0,0,.2);
    border-radius: 0 0 5px 5px;
    position: absolute;
    padding: 0;
    margin-top: 0;
    width: 220px;
    top: 61px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 333ms cubic-bezier(.86,0,.07,1),visibility 333ms cubic-bezier(.86,0,.07,1);
    }
    .ha-partner-nav-account-item {
    padding: 0 30px;
    font-size: 16px;
    line-height: 30px;
    cursor: pointer;
    transition: background-color .35s ease-in-out;
    }
    .ha-partner-nav-account-item-link {
    color: #323f4d;
    padding: 0;
    font-weight: 400;
    line-height: 45px;
    width: 100%;
    display: inline-block;
    }
    @media (min-width: 1200px){
    .ha-partner-header-section.ha-partner-property-selector-container:not(.ha-partner-property-selector-empty) {
    display: block;
    }
    }
    .ha-partner-header-section.ha-partner-property-selector-container.ha-partner-property-selected, .ha-partner-header-section.ha-partner-property-selector-link.ha-partner-property-selected {
    width: 320px;
    }
    .ha-partner-header-section.ha-partner-property-selector-container .ha-partner-property-selector-item-header {
    padding: 0 20px;
    width: 100%;
    }
    .ha-partner-property-selector-item-header {
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: calc(100% - 64px);
    max-height: 70px;
    min-height: 30px;
    }
    .ha-partner-header-section.ha-partner-property-selector-container.ha-partner-property-selected .ha-partner-property-selector-item-header-text {
    padding-top: 5px;
    line-height: 30px;
    }
    .ha-partner-header-section.ha-partner-property-selector-container .ha-partner-property-selector-item-header-text {
    width: 100%;
    margin-left: 0;
    line-height: 61px;
    padding-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    .ha-partner-property-selector-item-header-text {
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    }
    .ha-partner-header-section.ha-partner-property-selector-container .ha-partner-property-selector-item-header-text .ha-partner-property-selector-property-text {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    } 	 	
    .ha-partner-header-section.ha-partner-property-selector-container .ha-partner-property-selector-item-header-text .ha-partner-property-selector-property-details {
    color: #adb2b8;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 15px;
    }
    .ha-partner-header-section.ha-partner-property-selector-container .ha-partner-property-selector-group-icon, .ha-partner-header-section.ha-partner-property-selector-container .ha-partner-property-selector-group-icon:after {
    margin-right: 0;
    }
    .ha-partner-property-selector-group-icon {
    cursor: pointer;
    margin-right: 16px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    }
    .ha-partner-property-selector-group-icon>svg {
    margin-left: 16px;
    transform: rotate(0deg);
    transition: transform .2s linear;
    }
    .ha-partner-header-section.ha-partner-property-selector-container .ha-partner-property-selector-group {
    overflow: none;
    background-color: #fff;
    box-shadow: 0 2px 14px 0 rgba(0,0,0,.2);
    border-radius: 0 0 5px 5px;
    top: -1px;
    position: relative;
    padding: 0;
    width: 320px;
    opacity: 0;
    visibility: hidden;
    max-height: calc(100vh - 61px);
    transition: opacity 333ms cubic-bezier(.86,0,.07,1),visibility 333ms cubic-bezier(.86,0,.07,1);
    }
    .ha-partner-header-section .ha-partner-property-selector-non-scrollable {
    display: none;
    }
    @media (min-width: 768px){
    .ha-partner-property-selector-non-scrollable {
    width: 84px;
    }
    }
    .ha-partner-property-selector-non-scrollable {
    width: 114px;
    height: 100%;
    float: left;
    z-index: 10;
    position: absolute;
    width: 64px;
    }
    .ha-partner-header-section.ha-partner-property-selector-container .ha-partner-property-selector-sub-item-group:not(.has-search) {
    max-height: calc(100vh - 110px);
    }
    .ha-partner-header-section.ha-partner-property-selector-container .ha-partner-property-selector-sub-item-group {
    left: 0;
    width: 100%;
    overflow: auto;
    line-height: 25px;
    max-height: calc(100vh - 165px);
    margin-left: 0;
    padding-left: 0;
    }
    .ha-partner-property-selector-group-collapsed .ha-partner-property-selector-sub-item-group {
    margin-bottom: 0;
    }
    @media (min-width: 768px){
    .ha-partner-property-selector-sub-item-group {
    width: 100%;
    }
    }
    .ha-partner-property-selector-sub-item-group {
    font-size: 14px;
    position: relative;
    width: 100%;
    padding-left: 10px;
    }
    .ha-partner-property-selector-sub-item-group .ha-partner-property-selector-more-overlay {
    display: none;
    padding: 25px 10px;
    text-align: center;
    }
    .ha-partner-header-section.ha-partner-property-selector-container .ha-partner-property-selector-sub-item {
    padding: 0;
    transition: background-color .35s ease-in-out;
    font-weight: 300;
    line-height: 30px;
    }
    .ha-partner-property-selector-sub-item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px 8px 0 64px;
    }
    .ha-partner-header-section.ha-partner-property-selector-container .ha-partner-property-selector-sub-item-header {
    color: #0067db;
    padding: 10px 20px 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    .ha-partner-header-section.ha-partner-property-selector-container .ha-partner-property-selector-sub-item-listing-details {
    color: #adb2b8;
    padding: 0 20px 5px;
    font-size: 13px;
    width: 321px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    .ha-partner-header-section.ha-partner-property-selector-container .ha-partner-property-selector-sub-item {
    padding: 0;
    transition: background-color .35s ease-in-out;
    font-weight: 300;
    line-height: 30px;
    }
    .ha-partner-header-section .ha-partner-property-selector-selected-item .ha-partner-property-selector-sub-item-header {
    color: #000;
    font-weight: 500;
    }
    .ha-partner-header-section.ha-partner-property-selector-container .ha-partner-property-selector-sub-item-header {
    color: #0067db;
    padding: 10px 20px 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    .ha-partner-header-section.ha-partner-property-selector-container .ha-partner-property-selector-sub-item-listing-details {
    color: #adb2b8;
    padding: 0 20px 5px;
    font-size: 13px;
    width: 321px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    .ha-partner-nav-toggle-hamburger span:first-child {
    top: 0;
    transform: rotate(0);
    }
    .ha-partner-nav-toggle-hamburger span {
    position: absolute;
    background-color: currentColor;
    left: 0;
    height: 2px;
    width: 100%;
    transition: transform 333ms cubic-bezier(.86,0,.07,1),top 333ms cubic-bezier(.86,0,.07,1);
    }
    .ha-partner-nav-toggle-hamburger span:nth-child(2) {
    top: 8px;
    transform: rotate(0);
    }
    .ha-partner-nav-toggle-hamburger span {
    position: absolute;
    background-color: currentColor;
    left: 0;
    height: 2px;
    width: 100%;
    transition: transform 333ms cubic-bezier(.86,0,.07,1),top 333ms cubic-bezier(.86,0,.07,1);
    }
    .ha-partner-nav-toggle-hamburger span:nth-child(3) {
    background-color: transparent;
    box-shadow: inset 12px 0 currentColor;
    top: 16px;
    transform: rotate(0);
    }
    .ha-partner-nav-toggle-hamburger span {
    position: absolute;
    background-color: currentColor;
    left: 0;
    height: 2px;
    width: 100%;
    transition: transform 333ms cubic-bezier(.86,0,.07,1),top 333ms cubic-bezier(.86,0,.07,1);
    }
    .ha-partner-header-section.ha-partner-property-selector-container .ha-partner-property-selector-sub-item {
    padding: 0;
    transition: background-color .35s ease-in-out;
    font-weight: 300;
    line-height: 30px;
    }
    .ha-partner-property-selector-sub-item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px 8px 0 64px;
    }
    .ha-partner-header-section.ha-partner-property-selector-container .ha-partner-property-selector-sub-item-header {
    color: #0067db;
    padding: 10px 20px 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    .ha-partner-header-section.ha-partner-property-selector-container .ha-partner-property-selector-sub-item-listing-details {
    color: #adb2b8;
    padding: 0 20px 5px;
    font-size: 13px;
    width: 321px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    .ha-partner-nav-header.theme-gt .ha-partner-header-section .ha-partner-property-selector-my-properties-container, .ha-partner-nav-header.theme-gt .ha-partner-header-section .ha-partner-property-selector-my-properties-container:hover {
    background-color: #0067db;
    }
    .ha-partner-header-section.ha-partner-property-selector-container .ha-partner-property-selector-my-properties-container {
    border-top: 1px solid #d6d9db;
    padding: 4px 0 15px;
    border-radius: 0 0 5px 5px;
    }
    .ha-partner-header-section.ha-partner-property-selector-container .ha-partner-property-selector-sub-item {
    padding: 0;
    transition: background-color .35s ease-in-out;
    font-weight: 300;
    line-height: 30px;
    }
    .ha-partner-property-selector-sub-item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px 8px 0 64px;
    }
    .ha-partner-nav-header.theme-gt .ha-partner-header-section .ha-partner-property-selector-my-properties-container, .ha-partner-nav-header.theme-gt .ha-partner-header-section .ha-partner-property-selector-my-properties-container:hover {
    background-color: #0067db;
    }
    .ha-partner-header-section.ha-partner-property-selector-container .ha-partner-property-selector-my-properties-container {
    border-top: 1px solid #d6d9db;
    padding: 4px 0 15px;
    border-radius: 0 0 5px 5px;
    }
    .ha-partner-header-section.ha-partner-property-selector-container .ha-partner-property-selector-sub-item {
    padding: 0;
    transition: background-color .35s ease-in-out;
    font-weight: 300;
    line-height: 30px;
    }
    .ha-partner-header-section.ha-partner-property-selector-container .ha-partner-property-selector-sub-item-header {
    color: #0067db;
    padding: 10px 20px 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    .ha-partner-header-section .ha-partner-property-selector-my-properties-link {
    color: #fff;
    font-weight: 500;
    width: 100%;
    padding-left: 0;
    }
    @media screen and (min-width: 992px){
    html:not(.optin-fullbleed) body #container, html:not(.optin-fullbleed) body #main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    }
    }
    .row {
    margin-left: -15px;
    margin-right: -15px;
    }
    html.partner-nav #globalnav-nav {
    position: absolute;
    }
    #globalnav-nav {
    left: 0;
    position: static;
    -webkit-transition: left .2s ease-in-out;
    transition: left .2s ease-in-out;
    width: 16.6667%;
    }
    @media (min-width: 768px){
    .ha-partner-nav-container {
    position: fixed;
    z-index: 1010;
    width: 84px;
    }
    }
    .ha-partner-nav-container {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 64px;
    z-index: 1030;
    left: 0;
    }
    .ha-partner-nav-container .ha-partner-nav-toggle-container {
    background-color: #fff;
    border-color: #f1f3f5;
    }
    @media (min-width: 768px){
    .ha-partner-nav-toggle-container {
    width: 84px;
    }
    }
    .ha-partner-nav-toggle-container {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-style: solid;
    border-width: 0 1px 1px 0;
    height: 61px;
    transition: background .35s ease-in-out;
    transition-timing-function: cubic-bezier(0,.25,.5,1);
    z-index: 5000;
    width: 64px;
    }
    .ha-partner-nav-toggle-hamburger {
    position: relative;
    height: 18px;
    width: 24px;
    display: block;
    }
    .on-checklist .ha-partner-nav-closed .ha-partner-nav-body-container {
    border: none;
    width: 0;
    }
    .btn-default {
    background-color: #fff;
    border-color: #d7d8da;
    color: #2a6ebb;
    text-shadow: none;
    -webkit-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
    line-height: 22px;
    }
    @media (min-width: 768px){
    .ha-partner-nav-closed .ha-partner-nav-body-container {
    left: 0;
    width: 84px;
    }
    }
    @media (min-width: 768px){
    .ha-partner-nav-body-container-no-scrollbar {
    width: 400px;
    }
    }
    .ha-partner-nav-body-container-no-scrollbar {
    height: calc(100vh - 61px);
    z-index: 5000;
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow-y: scroll;
    width: calc(50px + 100%);
    background-color: #fff;
    padding-right: 50px;
    }
    @media (min-width: 768px){
    .ha-partner-nav-items-container, .ha-partner-nav-property-search-container {
    width: 350px;
    }
    }
    .ha-partner-property-selector-container:not(.ha-partner-header-section):not(.ha-partner-property-selector-empty) {
    overflow: hidden;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
    border-bottom: 1px solid #f1f3f5;
    line-height: 70px;
    font-size: 15px;
    }
    .ha-partner-property-selector-thumbnail-link {
    max-height: 70px;
    min-height: 30px;
    }
    @media (min-width: 768px){
    .ha-partner-property-selector-thumbnail {
    width: 84px;
    }
    }
    .ha-partner-property-selector-thumbnail {
    width: 64px;
    height: 100%;
    background-position: 50%;
    background-size: cover;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-align: end;
    align-items: flex-end;
    max-height: 70px;
    min-height: 30px;
    }
    .ha-partner-property-selector-id {
    line-height: 18px;
    font-size: 12px;
    border-radius: 10px;
    background-color: rgba(0,0,0,.6);
    color: #fff;
    padding: 0 7px;
    margin-bottom: 5px;
    }
    @media (min-width: 768px){
    .ha-partner-property-selector-item-header {
    width: calc(100% - 84px);
    }
    }
    .ha-partner-property-selector-item-header {
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: calc(100% - 64px);
    max-height: 70px;
    min-height: 30px;
    }
    @media (min-width: 768px){
    .ha-partner-property-selector-item-header {
    width: calc(100% - 84px);
    }
    }
    .ha-partner-property-selector-item-header {
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: calc(100% - 64px);
    max-height: 70px;
    min-height: 30px;
    }
    .ha-partner-property-selector-item-header-text {
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    }
    .ha-partner-property-selector-container:not(.ha-partner-header-section):not(.ha-partner-property-selector-empty).ha-partner-property-selected .ha-partner-property-selector-property-text {
    padding-left: 10px;
    }
    .ha-partner-property-selector-container:not(.ha-partner-header-section):not(.ha-partner-property-selector-empty) .ha-partner-property-selector-property-text {
    padding-left: 0;
    }
    .ha-partner-property-selector-container:not(.ha-partner-header-section):not(.ha-partner-property-selector-empty) .ha-partner-property-selector-property-details {
    display: none;
    }
    .ha-partner-property-selector-group-icon {
    cursor: pointer;
    margin-right: 16px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    }
    .ha-partner-property-selector-group-icon {
    cursor: pointer;
    margin-right: 16px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    }
    .ha-partner-property-selector-group-icon>svg {
    margin-left: 16px;
    transform: rotate(0deg);
    transition: transform .2s linear;
    }
    .ha-partner-property-selector-container:not(.ha-partner-header-section):not(.ha-partner-property-selector-empty) .ha-partner-property-selector-group {
    transition: height .2s linear,margin-bottom .2s step-start;
    }
    .ha-partner-property-selector-group-collapsed, .ha-partner-property-selector-group-expanded {
    width: 100%;
    }
    @media (min-width: 768px){
    .ha-partner-property-selector-non-scrollable {
    width: 84px;
    }
    }
    .ha-partner-property-selector-non-scrollable {
    width: 114px;
    height: 100%;
    float: left;
    z-index: 10;
    position: absolute;
    width: 64px;
    }
    .ha-partner-property-selector-container:not(.ha-partner-header-section):not(.ha-partner-property-selector-empty) .ha-partner-property-selector-sub-item-group {
    line-height: 25px;
    overflow: auto;
    max-height: calc(100vh - 275px);
    }
    .ha-partner-property-selector-group-collapsed .ha-partner-property-selector-sub-item-group {
    margin-bottom: 0;
    }
    @media (min-width: 768px){
    .ha-partner-property-selector-sub-item-group {
    width: 100%;
    }
    }
    .ha-partner-property-selector-sub-item-group {
    font-size: 14px;
    position: relative;
    width: 100%;
    padding-left: 10px;
    }
    .ha-partner-property-selector-sub-item-group .ha-partner-property-selector-more-overlay {
    display: none;
    padding: 25px 10px;
    text-align: center;
    }
    @media (min-width: 768px){
    .ha-partner-property-selector-sub-item {
    padding: 5px 8px 0 84px;
    }
    }
    .ha-partner-property-selector-sub-item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px 8px 0 64px;
    }
    .ha-partner-property-selector-container:not(.ha-partner-header-section):not(.ha-partner-property-selector-empty) .ha-partner-property-selector-sub-item-header, .ha-partner-property-selector-container:not(.ha-partner-header-section):not(.ha-partner-property-selector-empty) .ha-partner-property-selector-sub-item-header:hover {
    color: #0067db;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    }
    @media (min-width: 768px){
    .ha-partner-property-selector-container:not(.ha-partner-header-section):not(.ha-partner-property-selector-empty) .ha-partner-property-selector-sub-item-listing-details {
    color: #adb2b8;
    text-decoration: none;
    }
    }
    .ha-partner-property-selector-container:not(.ha-partner-header-section):not(.ha-partner-property-selector-empty) .ha-partner-property-selector-sub-item-listing-details {
    color: #adb2b8;
    display: block;
    text-decoration: none;
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    }
    .ha-partner-property-selector-container:not(.ha-partner-header-section):not(.ha-partner-property-selector-empty) .ha-partner-property-selector-selected-item {
    cursor: default;
    }
    @media (min-width: 768px){
    .ha-partner-property-selector-sub-item {
    padding: 5px 8px 0 84px;
    }
    }
    .ha-partner-property-selector-sub-item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px 8px 0 64px;
    }
    .ha-partner-property-selector-container:not(.ha-partner-header-section):not(.ha-partner-property-selector-empty) .ha-partner-property-selector-sub-item-header, .ha-partner-property-selector-container:not(.ha-partner-header-section):not(.ha-partner-property-selector-empty) .ha-partner-property-selector-sub-item-header:hover {
    color: #0067db;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    }
    @media (min-width: 768px){
    .ha-partner-property-selector-container:not(.ha-partner-header-section):not(.ha-partner-property-selector-empty) .ha-partner-property-selector-sub-item-listing-details {
    color: #adb2b8;
    text-decoration: none;
    }
    }
    .ha-partner-property-selector-container:not(.ha-partner-header-section):not(.ha-partner-property-selector-empty) .ha-partner-property-selector-sub-item-listing-details {
    color: #adb2b8;
    display: block;
    text-decoration: none;
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    }
    @media (min-width: 768px){
    .ha-partner-property-selector-container:not(.ha-partner-header-section):not(.ha-partner-property-selector-empty) .ha-partner-property-selector-my-properties-container {
    padding: 0 8px 0 0;
    }
    }
    .ha-partner-property-selector-container:not(.ha-partner-header-section):not(.ha-partner-property-selector-empty) .ha-partner-property-selector-my-properties-container {
    border-top: 1px solid #d6d9db;
    }
    @media (min-width: 768px){
    .ha-partner-property-selector-sub-item {
    padding: 5px 8px 0 84px;
    }
    }
    .ha-partner-property-selector-sub-item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px 8px 0 64px;
    }
    .ha-partner-property-selector-container:not(.ha-partner-header-section):not(.ha-partner-property-selector-empty) .ha-partner-property-selector-my-properties-container .ha-partner-property-selector-sub-item-header {
    margin-left: 0;
    }
    .ha-partner-property-selector-container:not(.ha-partner-header-section):not(.ha-partner-property-selector-empty) .ha-partner-property-selector-sub-item-header, .ha-partner-property-selector-container:not(.ha-partner-header-section):not(.ha-partner-property-selector-empty) .ha-partner-property-selector-sub-item-header:hover {
    color: #0067db;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    }
    @media (min-width: 768px){
    .ha-partner-property-selector-my-properties-link {
    padding-left: 94px;
    width: 100%;
    }
    }
    .ha-partner-property-selector-my-properties-link {
    display: block;
    font-weight: 400;
    color: #0067db;
    width: 100%;
    padding-left: 10px;
    }
    .ha-partner-nav-items-container, .ha-partner-nav-property-search-container {
    width: 350px;
    }
    .ha-partner-nav-items-container, .ha-partner-nav-property-search-container {
    width: 100%;
    }
    .ha-partner-nav-items-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    }
    @media (min-width: 768px){
    .ha-partner-nav-group-container, .ha-partner-nav-link-container {
    background-position: 30px 25px;
    }
    }
    .ha-partner-nav-group-container, .ha-partner-nav-link-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
    border-bottom: 1px solid #f1f3f5;
    font-size: 16px;
    position: relative;
    }
    .ha-partner-nav-item-header, .ha-partner-nav-item-icon {
    max-height: 70px;
    -ms-flex-align: center;
    align-items: center;
    min-height: 30px;
    }
    @media (min-width: 768px){
    .ha-partner-nav-item-icon {
    width: 84px;
    }
    }
    .ha-partner-nav-item-icon {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 64px;
    }
    .ha-partner-nav-item-icon a, .ha-partner-nav-item-icon a:hover {
    color: #000;
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    }
    @media (min-width: 768px){
    .ha-partner-nav-app-switcher.ha-partner-nav-app-switcher-mobile {
    display: none;
    }
    }
    .ha-partner-nav-app-switcher {
    margin-top: 20px;
    padding-left: 25px;
    width: 100%;
    height: 380px;
    position: relative;
    }
    @media (min-width: 768px){
    .ha-partner-nav-account {
    display: none;
    }
    }
    .ha-partner-nav-account {
    margin-top: 20px;
    padding-left: 25px;
    }
    .ha-partner-nav-account .ha-partner-nav-account-header {
    font-weight: 500;
    }
    @media (min-width: 768px){
    .ha-partner-nav-account .ha-partner-default-user-avatar {
    display: inline;
    }
    }
    .ha-partner-nav-account .ha-partner-default-user-avatar {
    display: none;
    height: 36px;
    margin-right: 15px;
    transform: translateY(10px);
    width: 36px;
    }
    .ha-partner-nav-account .ha-partner-nav-account-container {
    margin-top: 10px;
    }
    .ha-partner-nav-account-item {
    padding: 0 30px;
    font-size: 16px;
    line-height: 30px;
    cursor: pointer;
    transition: background-color .35s ease-in-out;
    }
    .ha-partner-nav-account-item-link {
    color: #323f4d;
    padding: 0;
    font-weight: 400;
    line-height: 45px;
    width: 100%;
    display: inline-block;
    }
    @media (min-width: 768px){
    .ha-partner-nav-app-switcher.ha-partner-nav-app-switcher-mobile {
    display: none;
    }
    }
    .ha-partner-nav-app-switcher {
    margin-top: 20px;
    padding-left: 25px;
    width: 100%;
    height: 380px;
    position: relative;
    }
    .ha-partner-nav-app-switcher-mobile .ha-partner-nav-app-switcher-icon {
    display: none;
    }
    @media (min-width: 768px){
    .ha-partner-nav-app-switcher-icon {
    cursor: pointer;
    padding: 0 30px;
    height: inherit;
    line-height: normal;
    display: inline-block;
    width: 80px;
    position: relative;
    }
    }
    @media (min-width: 768px){
    .ha-partner-nav-app-switcher-icon .ha-partner-nav-app-switcher-icon-grid {
    opacity: 1;
    visibility: visible;
    }
    }
    @media (min-width: 768px){
    .ha-partner-nav-app-switcher-icon .ha-partner-nav-app-switcher-icon-close, .ha-partner-nav-app-switcher-icon .ha-partner-nav-app-switcher-icon-grid {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform 333ms cubic-bezier(.86,0,.07,1),opacity 333ms cubic-bezier(.86,0,.07,1),visibility 333ms cubic-bezier(.86,0,.07,1);
    }
    }
    @media (min-width: 768px){
    .ha-partner-nav-app-switcher-icon .ha-partner-nav-app-switcher-icon-close {
    opacity: 0;
    visibility: hidden;
    }
    }
    @media (min-width: 768px){
    .ha-partner-nav-app-switcher-icon .ha-partner-nav-app-switcher-icon-close, .ha-partner-nav-app-switcher-icon .ha-partner-nav-app-switcher-icon-grid {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform 333ms cubic-bezier(.86,0,.07,1),opacity 333ms cubic-bezier(.86,0,.07,1),visibility 333ms cubic-bezier(.86,0,.07,1);
    }
    }
    @media (min-width: 768px){
    .ha-partner-nav-app-switcher-title {
    display: none;
    }
    }
    .ha-partner-nav-app-switcher-title {
    font-weight: 500;
    }
    @media (min-width: 768px){
    .ha-partner-nav-app-switcher-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-shadow: 0 2px 14px 0 rgba(0,0,0,.2);
    border-radius: 0 0 5px 5px;
    width: 390px;
    position: absolute;
    z-index: 5000;
    margin-top: 0;
    right: 0;
    top: 61px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 333ms cubic-bezier(.86,0,.07,1),visibility 333ms cubic-bezier(.86,0,.07,1);
    }
    }
    .ha-partner-nav-app-switcher-mobile .ha-partner-nav-app-switcher-app-item {
    line-height: 45px;
    text-align: left;
    }
    @media (min-width: 768px){
    .ha-partner-nav-app-switcher-app-item {
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 0 0;
    width: 130px;
    height: 130px;
    transition: background-color .35s ease-in-out,color .35s ease-in-out;
    color: #000;
    border-right: 1px solid #f1f3f5;
    border-bottom: 1px solid #f1f3f5;
    font-weight: 400;
    }
    }
    @media (min-width: 768px){
    .ha-partner-nav-app-switcher-item-icon {
    display: block;
    width: 30px;
    height: 30px;
    }
    }
    .ha-partner-nav-app-switcher-item .ha-partner-nav-app-switcher-item-text {
    width: 100%;
    }
    @media (min-width: 768px){
    html.partner-nav:not(.getting-started):not(.pyl-step) #main {
    padding-left: 99px;
    }
    }
    html.partner-nav:not(.getting-started):not(.pyl-step) #main {
    width: 100%;
    }
    @media (min-width: 1200px){
    html.partner-nav body.on-checklist #container, html.partner-nav body.on-checklist #main {
    max-width: 1600px;
    }
    }
    @media screen and (min-width: 992px){
    html:not(.optin-fullbleed) body #container, html:not(.optin-fullbleed) body #main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    }
    }
    html.partner-nav #main {
    padding-top: 20px;
    }
    .on-checklist #main {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    }
    .on-checklist #checklist-progress-container {
    display: inline-block;
    -webkit-box-flex: 1;
    flex: 1 0 100%;
    width: 100%;
    }
    .checklist-progress-bar {
    margin-left: auto;
    padding: 0 0 20px 20px;
    width: 100%;
    }
    .checklist-progress-bar .progress-message {
    margin-bottom: 10px;
    }
    checklist-progress-bar .progress-picture .bar.done {
    background: linear-gradient(90deg,#0067db,#00a0ff);
    }
    .checklist-progress-bar .progress-picture .bar.not-done {
    background-color: #d3d8de;
    position: relative;
    top: -5px;
    }
    .checklist-progress-bar .progress-picture .bar {
    border-radius: 10px;
    height: 5px;
    }
    on-checklist #checklist-nav-container {
    display: inline-block;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    width: 250px;
    margin-right: 50px;
    }
    .on-checklist #checklist-nav-container {
    display: inline-block;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    width: 250px;
    margin-right: 50px;
    }
    on-checklist #checklist-nav-container .dash-checklist-container {
    position: relative;
    }
    
    .nav-dash.nav-dash-bce {
    border: none;
    background: transparent;
    }
    .on-checklist #checklist-nav-container .checklist-mobile-bar {
    display: none;
    }
    .checklist-progress-bar {
    margin-left: auto;
    padding: 0 0 20px 20px;
    width: 100%;
    }
    [class*=" icon-"] {
    font-family: 'Symbolicons';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    /* speak: none; */
    line-height: 1;
    text-decoration: none;
    white-space: nowrap;
    font-size: 22px;
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: text-top;
    margin-top: 0;
    line-height: 20px;
    color: #72787c;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }
    .on-checklist #checklist-nav-container .nav-list {
    font-size: 15px;
    font-weight: 300;
    }
    .collapsedclass{
        max-height: 80px; min-height: 0px; height: 0px;
    }
    .heightclass{
        height: 0px;
    }
        
    .partnerclass{
        top: 0px
    }
    .barclass{
        width: 100%; 
        left: 0%; 
        border:10px;
        top:10px;
        left:10px;
        /* radius : 10px; */
        border:10px;top:10px;
        right:10px;
        /* radius : 10px; */
         border:10px;
         bottom:10px;
         right:10px;
         /* radius :10px; */
          border:10px;
          bottom:10px;
          left:10px;
          /* radius : 10px */
    }
    .thumbnailclass{
        background-image: url(https://csvcus.homeaway.com/rsrcs/globalnav/2.5.0/images/property-no-thumbnail.gif)
    }
    .batclass{
        width:0px;
         height:0px;
         display: none;
         visibility: hidden;
         /* id: batBeacon0.33436047565191984; */
    }
    .iframeclass{
        display: "none";
        width: "1px";
        height: "1px"
    }
    .imgclass{
    width:0px;
     height:0px;
     display:none;
    visibility:hidden; 
      /* id: batBeacon0.6929477173835039 ; */
      width: "0px" ;height: "0px" ;
      /* alt: ""; */
    }
    .checklistclass{
        padding:"0px";
        top: "0px"
    }
    .criteoclass{
    display: 'none'
    }






    .nav-dash.nav-dash-bce .nav-list {
    margin-left: 0;
    padding: 0;
    }
    .on-checklist #checklist-nav-container .dash-checklist-item {
    list-style-type: none;
    padding: 0;
    border-top: none;
    }
    #checklist-nav-container .dash-checklist-item span {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    }
    .on-checklist #checklist-nav-container .dash-checklist-status {
    float: left;
    margin: 15px 20px 0;
    }
    .dash-checklist-container .dash-checklist-item .dash-checklist-status {
    min-width: 25px;
    max-width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    }
    .on-checklist #checklist-nav-container .dash-checklist-label {
    font-weight: 400;
    margin-top: 16px;
    color: #323f4d;
    }
    .on-checklist #checklist-nav-container .dash-checklist-status {
    float: left;
    margin: 15px 20px 0;
    }
    .dash-checklist-container .dash-checklist-item .dash-checklist-status {
    min-width: 25px;
    max-width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    }
    .on-checklist #checklist-nav-container .dash-checklist-label {
    font-weight: 400;
    margin-top: 16px;
    color: #323f4d;
    }
    .on-checklist #checklist-nav-container .dash-checklist-item div.selected, .on-checklist #checklist-nav-container .dash-checklist-item span {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    }
    .dash-checklist-container .dash-checklist-item .dash-checklist-status {
    min-width: 25px;
    max-width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    }
    .on-checklist #checklist-nav-container .dash-checklist-status {
    float: left;
    margin: 15px 20px 0;
    }
    .dash-checklist-container .dash-checklist-item .dash-checklist-status {
    min-width: 25px;
    max-width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    }
    .on-checklist #checklist-nav-container .dash-checklist-label {
    font-weight: 400;
    margin-top: 16px;
    color: #323f4d;
    }
    .on-checklist #checklist-nav-container .dash-checklist-status {
    float: left;
    margin: 15px 20px 0;
    }
    .dash-checklist-container .dash-checklist-item .dash-checklist-status {
    min-width: 25px;
    max-width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    }
    .on-checklist #checklist-nav-container .dash-checklist-label {
    font-weight: 400;
    margin-top: 16px;
    color: #323f4d;
    }
    .on-checklist #checklist-nav-container .dash-checklist-item {
    list-style-type: none;
    padding: 0;
    border-top: none;
    }
    on-checklist #checklist-nav-container .dash-checklist-status {
    float: left;
    margin: 15px 20px 0;
    }
    .dash-checklist-container .dash-checklist-item .dash-checklist-status {
    min-width: 25px;
    max-width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    }
    .on-checklist #checklist-nav-container .dash-checklist-label {
    font-weight: 400;
    margin-top: 16px;
    color: #323f4d;
    }
    #layout {
    position: relative;
    overflow: visible;
    }
    .on-checklist .layout {
    display: inline-block;
    -webkit-box-flex: 1;
    flex: 1;
    }
    .on-checklist .panel {
    box-shadow: 0 0 20px -5px #666;
    border: none;
    border-radius: 0;
    }
    .pyl-photos {
    padding: 10px 20px 20px;
    }
    .panel-default {
    border-color: #d7d8da;
    }
    .panel {
    margin-bottom: 22px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    }
    .btn-default:hover, .btn-default:active, .btn-default.active, .btn-default:focus {
    background-color: #2a6ebb !important;
    border-color: #2a6ebb !important;
    color: #fff !important;
    text-decoration: none !important;
    }
    @media (min-width: 768px){
    html.partner-nav:not(.getting-started):not(.pyl-step) #main {
    padding-left: 99px !important;
    }
    }
    .le-nav-header {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    margin: 10px 0;
    }
    @media (min-width: 768px){
    #partner-nav-footer {
    padding: 10px 84px;
    width: 100%;
    }
    }
     #partner-nav-footer {
    position: relative;
    height: 80px;
    z-index: 1000;
    background-color: #fff;
    border-top: 1px solid #d7d8da;
    margin-bottom: -69px;
    }
    html.partner-nav #partner-nav-footer .ha-partner-footer-container {
    margin: 0 auto;
    }
    @media (min-width: 768px){
    .le-nav-header .nav-header-text {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 1px;
    flex: 1 1 1px;
    font-size: 32px;
    margin: 0;
    text-align: left;
    }
    }
    .le-nav-header .nav-header-text {
    font-family: 'Lato';
    padding-top: 12px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    }
    .pyl-photos .pyl-photos-container {
    
    display: flex;
    }
    @media (min-width: 1200px){
    .pyl-photos .pyl-photos-content {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 75%;
    flex: 1 1 75%;
    }
    }
    @media (min-width: 768px){
    .pyl-photos .pyl-photos-subheading:not(.xs) {
    display: block;
    }
    }
    @media (min-width: 768px){
    .pyl-photos .pyl-photos-subheading:not(.xs) {
    display: block;
    }
    }
    
    .pyl-photos .pyl-photos-subheading {
    margin: 0 0 20px;
    }
    @media (min-width: 768px){
    .pyl-photos .pyl-photos-subheading.xs {
    display: none;
    }
    }
    .pyl-photos .pyl-photos-subheading {
    margin: 0 0 20px;
    }
    @media (min-width: 768px){
    .pyl-photos .pyl-photos-subheading.xs {
    display: none;
    }
    }
    .pyl-photos .pyl-photos-subheading {
    margin: 0 0 20px;
    }
    .pyl-photos .pyl-photos-photo-drop {
    border: 1px dashed white;
    margin: 0 0 20px;
    outline: 0;
    position: relative;
    width: 100%;
    -webkit-transition: border-color .25s;
    transition: border-color .25s;
    }
    .pyl-photos .pyl-photos-photo-drop .pyl-photos-photo-drop-inside {
    border: 2px dashed #d7d8da;
    padding: 20px;
    text-align: center;
    -webkit-transition: border-color .25s;
    transition: border-color .25s;
    }
    .pyl-photos .pyl-photos-photo-drop .pyl-photos-photo-drop-inside .photo-drop-title, .pyl-photos .pyl-photos-photo-drop .pyl-photos-photo-drop-inside .photo-drop-OR {
    font-weight: 400;
    -webkit-transition: opacity .25s;
    transition: opacity .25s;
    }
    .text-muted {
    color: #72787c;
    }
    pyl-photos .pyl-photos-photo-drop .pyl-photos-photo-drop-inside .photo-drop-title, .pyl-photos .pyl-photos-photo-drop .pyl-photos-photo-drop-inside .photo-drop-OR {
    font-weight: 400;
    -webkit-transition: opacity .25s;
    transition: opacity .25s;
    }
    .pyl-photos .pyl-photos-photo-drop .pyl-photos-photo-drop-inside .photo-drop-error {
    bottom: 0;
    color: #ef5f56;
    font-size: 16px;
    font-weight: 400;
    height: 15%;
    left: 0;
    margin: auto;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    }
    .pyl-photos .pyl-photos-photo-drop .pyl-photos-photo-drop-inside .photo-drop-button {
    display: inline-block;
    -webkit-transition: opacity .25s;
    transition: opacity .25s;
    }
    .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    .btn-default {
    background-color: #fff !important;
    border-color: #d7d8da !important;
    color: #2a6ebb !important;
    text-shadow: none !important;
    -webkit-transition: all 350ms ease-in-out ;
    transition: all 350ms ease-in-out;
    line-height: 22px !important;
    }
    .btn {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    border-radius: 2px;
    padding: 17px 30px;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    border-color: #d7d8da;
    color: #2a6ebb;
    text-shadow: none;
    -webkit-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
    line-height: 22px;
    }
    .pyl-photos .pyl-photos-photo-drop .pyl-photos-photo-drop-inside input[type="file"] {
    display: none;
    }
    .pyl-photos .pyl-photos-photo-drop .pyl-photos-photo-drop-inside .photo-drop-info {
    margin-top: 15px;
    -webkit-transition: opacity .25s;
    transition: opacity .25s;
    }
    .pyl-photos .pyl-photos-shot-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    }
    @media (min-width: 768px){
    .le-nav-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    }
    }
    .le-nav-footer {
    border-top: 1px solid #d7d8da;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    margin-top: 10px;
    padding-top: 20px;
    }
    @media (min-width: 768px){
    .le-nav-footer .nav-footer-back, .le-nav-footer .nav-footer-next {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    }
    }
    .le-nav-footer .nav-footer-back {
    display: none;
    -webkit-box-pack: left;
    -webkit-justify-content: left;
    justify-content: left;
    padding-left: 0;
    }
    .btn-block {
    display: block;
    width: 100%;
    }
    .btn-link {
    color: #2a6ebb;
    font-weight: 500;
    border-color: transparent;
    background: 0;
    background-color: transparent;
    box-shadow: none;
    }
    .btn {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    border-radius: 2px;
    padding: 17px 30px;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    border-color: #d7d8da;
    color: #2a6ebb;
    text-shadow: none;
    -webkit-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
    line-height: 22px;
    }
    @media (min-width: 768px){
    .le-nav-footer .nav-footer-next {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    }
    }
    @media (min-width: 768px){
    .le-nav-footer .nav-footer-back, .le-nav-footer .nav-footer-next {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    }
    }.btn-block {
    display: block;
    width: 100%;
    }
    .btn-primary {
    background-color: #ff8a00;
    border-color: #ff8a00;
    color: #fff;
    text-shadow: none;
    -webkit-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
    line-height: 22px;
    }
    .btn {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    border-radius: 2px;
    padding: 17px 30px;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    border-color: #d7d8da;
    color: #2a6ebb;
    text-shadow: none;
    -webkit-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
    line-height: 22px;
    }
    html.partner-nav #globalnav-footer {
    display: block;
    }
    
    html.partner-nav #partner-nav-footer .ha-partner-footer-container {
    margin: 0 auto;
    }
    @media (min-width: 768px){
    .ha-partner-footer-container {
    padding-left: 0;
    margin-left: 335px;
    margin-right: 71px;
    }
    }
    .ha-partner-footer-container {
    text-align: center;
    }
    .on-checklist #checklist-nav-container {
    display: inline-block;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    width: 250px;
    margin-right: 50px;
    }
    .on-checklist #checklist-nav-container .dash-checklist-container {
    position: relative;
    }
    .nav-dash.nav-dash-bce {
    border: none;
    background: transparent;
    }
    
    html.partner-nav #partner-nav-footer .ha-partner-footer-container {
    margin: 0 auto;
    }
    @media (min-width: 768px){
    .ha-partner-footer-container {
    padding-left: 0;
    margin-left: 335px;
    }
    }
    .ha-partner-footer-container {
    text-align: center;
    }