/* .homeawaylink a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}


.homeawaylinka:hover, a:active {
  background-color: red;
} */

img.homewaylogo{
 width: 158;
  height: 40;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display : inline;
}
li.navl3 {
  position: absolute;
  right: 0;
  top: 0;
}

/*the container must be positioned relative:*/
.login {
  position: relative;
  font-family: Arial;
}
