.c1 select{
    color:red;
}
.c2 select{
    color:orange;
}

.PanelHead{
    color:red;
}

.PanelComp{
    width:26%
}

.email
{
    margin-bottom:16px;
    margin-top:16px;
}
.pwd {
    margin-bottom: 16px;
    margin-top: 16px;
}

.buttonC {
    margin-top:20px;
    background-color: #ff8a00;
    width:100%;
}

.centered-hr {
    position: relative;
    z-index: 1;
    margin-bottom: 15px;
    
}

.fbbutton {
    width: 100%;
    background-color: #2f4f88;
    margin-bottom:15px;
}

.fbbutton.logo {
    position: absolute;
    left: 0;
    top: 5px;
    bottom: 4px;
}

.fbicon

{
    font-size: 26px;
    height: 22px;
    width: 40px;
    line-height: 1;
    padding-top: 7px;
    color:white;
}

.fbtext
{
    text-align:"center";
    color:white;
}


.icon-google{
    width: 14px;
}

.gbutton{
    width: 100%;
}

.gtext {
    text-align: "center";
    
}