/*.header-bce {
    background: #fff;
    border-bottom: 1px solid #dbdbdb;
    border-top: 0;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header-bce-birdhouse-container .flip-container, .header-bce-birdhouse-container .front, .header-bce-birdhouse-container .back {
    width: 80px;
    height: 80px;
}
.header-bce-birdhouse-container .flipper {
    position: relative;
}
.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
    content: " ";
    display: table;
}
.header-bce .header.navbar .navbar-inner {
    background: #fff;
}
.navbar.navbar-bce .navbar-inner {
    border: 0;
    padding: 0;
    background-image: none;
}
.header-bce .navbar-inner {
    box-shadow: none;
    background: 0;
    background-image: none;
    border: 0;
    -webkit-filter: none;
    filter: none;
}

.header-bce .header {
    margin-bottom: 0;
    background: #fff;
    padding: 14px 0;
}
.pull-left {
    float: left!important;
}
.header-bce-birdhouse-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 80px;
    width: 80px;
    text-align: center;
}
.header-bce .header.navbar {
    position: static;
}

.navbar {
    position: relative;
    min-height: 40px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

body {
    font-family: "Roboto",Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #353e44;
    background-color: #f4f4f4;
}
#container {
    margin-top: 60px;
}
.header-bce-birdhouse-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 80px;
    width: 80px;
    text-align: center;
}*/
html.login body {
    background-color: #f4f4f4;
}
body {
    font-family: "Roboto",Arial,"Helvetica Neue",Helvetica,sans-serif !important;
    font-size: 14px !important;
    line-height: 20px !important;
    color: #353e44 !important;
    background-color: #f4f4f4 !important;
	
}
.header-bce {
    background: #fff;
    border-bottom: 1px solid #dbdbdb;
    border-top: 0;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}
@media (min-width: 1200px){
.container {
    width: 1170px;
}
}

.header-bce .header.navbar {
    position: static;
}
#container {
    margin-top: 60px;
}
.header-bce .header {
    margin-bottom: 0;
    background: #fff;
    padding: 14px 0;
}
.navbar {
    position: relative;
    min-height: 40px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.header-bce .header.navbar .navbar-inner {
    background: #fff;
}
.navbar.navbar-bce .navbar-inner {
    border: 0;
    padding: 0;
    background-image: none;
}
.header-bce .navbar-inner {
    box-shadow: none;
    background: 0;
    background-image: none;
    border: 0;
    -webkit-filter: none;
    filter: none;
}
.pull-left {
    float: left!important;
}
.header-bce .logo {
    display: inline-block;
    vertical-align: top;
    min-height: 50px;
}
.header-bce-birdhouse-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 80px;
    width: 80px;
    text-align: center;
}
.header-bce-birdhouse-container .flip-container, .header-bce-birdhouse-container .front, .header-bce-birdhouse-container .back {
    width: 80px;
    height: 80px;
}
.header-bce-birdhouse-container .flipper {
    position: relative;
}
.panel-dashboard {
    border-color: #dbdbdb;
}
.header-bce-birdhouse-container .front {
    z-index: 2;
    visibility: visible;
}
.header-bce-birdhouse-container .front, .header-bce-birdhouse-container .back {
    position: absolute;
    top: 0;
    left: 0;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.login-form.traveler {
    padding: 0!important;
}
.travelerFieldSet {
    margin-bottom: 0;
    padding: 0;
}
fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    min-width: 0;
}
#login-container {
    position: relative;
    z-index: 100;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col-md-offset-3 {
    margin-left: 25%;
}

.col-md-6 {
    width: 50%;
}
.panel-dashboard .panel-body {
    padding: 20px 20px 30px;
}

.text-center {
    text-align: center;
	
}	
.footer.traveler {
    padding-top: 0;
    padding-bottom: 5px;
}
.sign-in-link {
	color: #2a6ebb;
    text-decoration: none;
}
.footer-top traveler{
	display: none;
}
.panel-dashboard {
    border-color: #dbdbdb;
}
.login-form.traveler {
    padding: 0!important;
}
.travelerFieldSet {
    margin-bottom: 0;
    padding: 0;
}
.panel-dashboard .panel-body {
    padding: 20px 20px 30px;
}
.hidden {
    display: none!important;
    visibility: hidden!important;
}
.form-group {
    margin-bottom: 15px;
}
.name-registration {
    float: left;
    width: 48%;
    width: calc(50% - 8px);
    width: -webkit-calc(50% - 8px);
    margin-right: 15px;
}
.form-group {
    margin-bottom: 15px;
}
.input-lg, .form-group-lg .form-control {
    height: 44px;
    padding: 9px 14px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 0;
}
input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block {
    width: 100%;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-lg {
    padding: 9px 31px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 0 !important;
}
.btn-primary {
    background-color: #ff8a00 ! important;
    color: #fff !important;
    text-shadow: none !important;
    border-color: #ff8a00 !important;
}
/* @media screen and (min-width: 768px) */
.btn-cas-primary {
    max-width: 318px;
    display: block;
    margin: 0 auto;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-lg {
    padding: 9px 31px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 0;
}
.btn-primary {
    background-color: #ff8a00;
    color: #fff;
    text-shadow: none;
    border-color: #ff8a00;
}
/* @media screen and (min-width: 768px) */
.btn-cas-primary {
    max-width: 318px;
    display: block;
    margin: 0 auto;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    font-size: 14px;
    line-height: 20px;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	max-width: 318px;
    width: 100%;
	margin-left: 19%;
 
    text-shadow: none;
   
}
.centered-hr {
    position: relative;
    z-index: 1;
    margin-bottom: 15px;
}
.third-party-login-button {
    position: relative;
    padding: 5px 10px;
    display: block;
    margin: 0 auto;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    line-height: 2.0;
    font-size: 16px;
    -o-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 2px;
    width: 100%;
    max-width: 318px;
}
.third-party-login-button.fb-button {
    background: #2f4f88;
    border: 1px solid #2f4f88;
}

.third-party-login-button .login-button-text {
    margin-right: 40px;
}
.third-party-login-button .logo {
    position: absolute;
    left: 0;
    top: 5px;
    bottom: 4px;
}

.third-party-login-button .icon-facebook {
    font-size: 26px;
    height: 22px;
    width: 40px;
    line-height: 1;
    padding-top: 7px;
}
.third-party-login-button .text {
    display: block;
    width: 80%;
    width: -webkit-calc(100% - 40px);
    width: calc(100% - 40px);
}
.pull-right {
    float: right!important;
}
.third-party-login-button.google-button {
    color: #787878;
    background: #f3f3f3;
    border: 1px solid #f3f3f3;
}

.third-party-login-button .login-button-text {
    margin-right: 40px;
}
.third-party-login-button .logo-google {
    position: absolute;
    left: 0;
    top: 5px;
    bottom: 4px;
}
.third-party-login-button {
    position: relative;
    padding: 5px 10px;
    display: block;
    margin: 0 auto;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    line-height: 2.0;
    font-size: 16px;
    -o-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 2px;
    width: 100%;
    max-width: 318px;
}
.third-party-login-button .text {
    display: block;
    width: 80%;
    width: -webkit-calc(100% - 40px);
    width: calc(100% - 40px);
}
h1, .h1 {
    font-size: 40px;
    font-weight: 300;
    font-family: Roboto,Arial,sans-serif;
    color: #353e44;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    
    line-height: 1.25;
   
}
.form-group {
    margin-bottom: 15px;
}
.text-center {
    text-align: center;
}

.login .footer {
    font-size: 12px;
    color: #666;
}

.login .footer span {
    margin-right: 3px;
}

.footer.traveler div {
    font-size: 18px!important;
	    margin-bottom: 15px;
}
.login .login-header {
    margin-bottom: 15px;
}
.page-footer {
    text-align: center;
    padding-top: 1.25em;
    padding-bottom: 2.5em;
}
.page-footer p {
    line-height: 1.5em;
    margin: 0;
    font-size: 8pt;
}
.linkstyle{
    text-decoration:none;
}
.textstyle{
    font-size: 11px; 
    font-weight:normal;
}

.registrationstyle{
    margin-right:0px;
}
h1 {
    display: block;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    
}